[2014-08-20 20:00] joegoggins opened #208 "Recommend the Spark CLI over Putty and CoolTerm for USB connecting + flashing"
The initial "connect" docs were written before the CLI existed, they should be updated to recommend CLI usage over Putty or CoolTerm, this documentation would end up on this page: http://docs.spark.io/connect/

[2014-12-15 03:35] harrisonhjones opened #257 "Time.zone() doesn't explain how to use it"
The Time.zone() function explains that it sets the current timezone offset. Nowhere in the documentation (that I can find) does it explain how to use this modified, timezone-aware, version of time. Time.now() only ever returns true GMT-0 time and CalendarTime isn't exposed in the docs.

Suggestions:
Either 1. alter the now() code so it uses the zone offset or 2. alter the docs to explain how to ge

[2014-12-15 20:13] dmiddlecamp opened #258 "api - listDevices - are we missing response schema?"
[ { id: 'asdfasdfasdf',
    name: 'test1',
    last_app: null,
    last_heard: '2014-12-15T20:12:51.974Z',
    connected: true } ]

[2014-12-21 10:53] m-mcgowan opened #259 "Documentation for disabling preprocessor"
The preprocessor sometimes needs to be disabled with

[code]

at the top of the file in order for valid code to compile successfully, but there's currently no published docs for this.

[2015-01-08 00:13] kennethlimcp opened #262 "Outdated recently solved issues to be removed"
See - https://github.com/spark/docs/blob/master/src/content/troubleshooting.md#known-issues

[2015-01-08 00:23] kennethlimcp commented on #257
I'll write up a test code and see what's the current behavior.

[2015-01-08 02:13] kennethlimcp opened #266 "Remove coming soon example code?"
This two example are there for a while so is anyone working on this demo or can we remove it?

http://docs.spark.io/examples/#texting-the-core
http://docs.spark.io/examples/#an-internet-button

[2015-01-08 15:27] kennethlimcp commented on #257
@pkourany, in my test i found the following:

1.) Calling the year(), hour(), minute(), second() etc etc all returns value from the adjusted time.

2.) now() is the only function returning the GMT-0 based time and aligns with the Arduino Time library implementation

3.) The docs seems ok for me except that there is currently no way to retrieve a GMT adjusted unix time stamp since `now()` returns t

[2015-01-08 16:25] stephpalm commented on #267
I think that's a great point @kennethlimcp. I'm wondering if we should move all of the troubleshooting content over to the support site and just include a link to that in our documentation. What do you think?

cc: @zsup

[2015-01-08 16:37] zsup commented on #267
Yeah that feels right

—
Zach Supalla
312.953.3413

On Thu, Jan 8, 2015 at 8:25 AM, stephpalm <notifications@github.com>
wrote:

[2015-01-08 16:38] zsup commented on #267
Although I will say that traffic reports suggest that people haven't really found our support site, so if we move things there we may see more community questions when people don't know the support site exists

—
Zach Supalla
312.953.3413

On Thu, Jan 8, 2015 at 8:37 AM, Zach Supalla <zach@spark.io> wrote:

[2015-01-08 16:52] stephpalm commented on #267
Or is the solution to make our support site more visible? Could we put a more obvious link to it on the community site? And maybe work towards integrated search?

[2015-01-12 20:23] m-mcgowan opened #269 "Change Spark.sleep() to System.sleep()?"
The `Spark` namespace includes variables, functions, pub/sub, connection management and sleep.
The `System` namespace has `reset`, `factoryReset`, `bootloader`.

The `sleep()` functions are currently in `Spark`, but seems to make more sense to have them in `System`.

They can be moved to `System` in a backwards compatible way (so old code using `Spark` will continue to compile) and we can optional

[2015-01-12 22:16] zsup commented on #269
fully agreed.

[2015-02-03 09:53] kennethlimcp opened #280 "Add sub-headings to APIs"
There's a bunch of basic API functions that suit the **Introduction** heading but users are missing it:

http://docs.spark.io/api/#introduction

See community thread: https://community.spark.io/t/getting-the-list-of-all-claimed-cores/9771

[2015-02-03 23:25] kennethlimcp commented on #258
Hey @dmiddlecamp if you can give some information about this maybe i can help with a PR :)

[2015-02-03 23:27] kennethlimcp commented on #200
@eddiezane, i'm going to close this and reopen if something faces the same issue. Thanks!

[2015-02-04 00:14] #280 closed

[2015-02-04 03:28] m-mcgowan opened #284 "Diagram showing the system states?"
I've been asked for this more than once:

https://community.spark.io/t/firmware-state-during-forced-wifi-credentials-erasure/9732/4?u=mdma

The state diagram would provide a high-level overview of all the states the system can be in regarding

 - system mode (manual, semi-automatic, automatic)
 - listening mode (on/off)
 - wifi connection (off/on/connecting/connected)
 - cloud connection (disconne

[2015-02-05 18:41] joegoggins commented on #284
A state machine diagram would be amazing. I have a huge and ridiculous wishlist surrounding this, treat all of the following like some "wouldn't it be cool if" type of feedback.

Though definitely not strictly necessary, it would be super cool if you could represent the state machine in a machine readable way and generate the diagram from that, using something like GraphViz. We could use a machine

[2015-02-05 20:08] pkourany commented on #284
OMG, what an amazing idea!  With the Photon using FreeRTOS, the FSM and process view of the firmware is so important.  With mutex and semaphores flying around, a visual representation of the firmware is a huge plus.  The FSM approach is interesting, since most, if not all of the firmware is essentially a huge state driven machine.  This needs further bantering about :)

[2015-02-06 17:16] dmiddlecamp opened #286 "Mobile Safari is exploding when viewing the docs page"
https://community.spark.io/t/internet-explorer/5426/19
We thought this issue was fixed (see #200 ), but it appears this error is back for the remix.

[2015-02-06 17:19] pkourany commented on #286
@dmiddlecamp, it is not just Safari but also Chrome.  On Android 4.4, Chrome does not crash but on IOS 8, it does.

[2015-02-06 17:22] dmiddlecamp commented on #286
I think mobile Chrome on iOS is really just the same Safari Webkit rendering engine, no?

https://developer.chrome.com/multidevice/ios/overview

[2015-02-10 17:11] kennethlimcp opened #287 "FactoryReset and Bootloader API"
We need to document the following:

1.) System.factoryReset()
2.) System.bootloader()

More description can be found here:
https://github.com/spark/firmware/issues/393

[code]

We need to put a note saying that some bootloader update might be required for really old spark cores :)

[2015-02-12 16:20] kennethlimcp commented on #287
My test for `System.factoryReset()` isn't working as expected.

[2015-02-12 17:32] #287 closed

[2015-02-12 17:43] #262 closed

[2015-02-17 22:38] joegoggins commented on #293
spark.github.io is linked to [from here](https://www.spark.io/resources) under the "open source" link.  I think that's the intended behavior.  Is there something in particular that is wrong with this link/page?

[2015-02-17 23:14] dmiddlecamp commented on #293
Oh sorry, I was comparing this to this:

http://docs.spark.io/

http://spark.github.io/docs/#/

[2015-02-17 23:29] joegoggins commented on #293
Yea, gotcha, that is weird.

@zsup , it looks like you were the last fellow to push to https://github.com/spark/spark.github.io, which is presumably where outdated the http://spark.github.io/docs/# are coming from. Do you know how to drop that docs content?

[2015-02-18 14:27] zsup commented on #293
Actually it was coming from `gh-pages`, which was how the docs site used to be published (now it's published via S3). I just deleted the `gh-pages` branch, so it's gone now

[2015-02-21 00:57] sayanee commented on #266
:+1: bump

[2015-02-22 01:54] #258 closed

[2015-03-06 00:05] kennethlimcp opened #300 "Use Phant for webhooks example"
Currently, the **Librato** example is cool but doesn't encourage users to use it consistently for a real demo-able example.

We can make use of open source solutions like https://data.sparkfun.com/ instead.

[2015-03-06 00:11] kennethlimcp opened #302 "downsize all images to be mobile friendly"
There are many high-resolution images (which are fantastic) but might not be mobile friendly in terms of page loading.

Might want to have a lower resolution / size image for the "mobile version" or simply lower the resolution in general to suit web/mobile land

[2015-03-06 02:20] kennethlimcp opened #303 "pic too small for visibility"
The screenshots for: http://docs.spark.io/webhooks/#lets-make-some-graphs-the-example-data-logging-code

are not really visible on the web version.

[2015-03-06 16:20] kennethlimcp commented on #274
Fixed in: https://github.com/spark/docs/commit/65e0e878f6392e067be198ed4b6bac3b3faffe5f

[2015-03-06 16:21] technobly commented on #274
Hey stalker! :)  Thank you for reporting and closing... was JUST going to do that.

[2015-03-06 16:25] technobly commented on #301
Agreed that a template should be added that shows all of the options at once.  A good place to put it would be as an example at the beginning of this section http://docs.spark.io/webhooks/#webhook-options which describes all of those options already.

[2015-03-06 17:00] technobly commented on #303
Fixed! https://github.com/spark/docs/commit/66fb4c251def0eb0d1be79abd3c4a0fb5d62d6da

[2015-03-06 17:00] #303 closed

[2015-03-06 17:41] technobly commented on #302
I think what could be a good way to do it is a decent sized image that's compressed as JPG, that serves as the "thumbnail" but not necessarily tiny like a thumbnail.  And that links to their larger high res images, possibly PNGs.  And then we document like this:

`[![img-desc](low-res-url)](high-res-url)`

[2015-03-07 15:11] kennethlimcp commented on #302
@technobly, that would definitely be rad.

The last time i heard, there's going to be a docs overhaul but haven't been told who is officially in charge. Wouldn't want to spend time doing double work here ;)

[2015-03-08 23:05] kennethlimcp commented on #304
@dmiddlecamp, it is not mentioned somewhere but i thought there's some discussion on the limits being lifted?

[2015-03-09 02:03] dmiddlecamp commented on #304
I'm always pushing to raise the limits when it makes sense, but in the meantime we should at least document what's in place now so people aren't caught offguard.  We've been talking about better feedback mechanisms for when things are rate limited, so it's more clear what's happening.

[2015-03-09 14:47] kennethlimcp commented on #304
@dmiddlecamp,

just to clarify before i send in a PR.

1.) No more than 1 `Spark.publish()` per second

2.) Bursts of up to 4 per second?

[2015-03-09 14:49] dmiddlecamp commented on #304
Heya @kennethlimcp,

  That's about right, a rate of about 1 a second, with bursts of up to 4 allowed from the firmware.

Thanks!
David

[2015-03-09 15:00] kennethlimcp commented on #304
Here's the PR!

[2015-03-12 05:47] technobly opened #307 "Update Current Readings for Sleep Modes"
Preliminary measurements, need more data!

**Core**
- Connected to Cloud - 150mA
- Wi-Fi OFF - 30-40mA
- Sleep - 800-900uA
- Deep Sleep - 187uA

**Photon**
- Connected to Cloud - 100mA
- Wi-Fi OFF - ?
- Sleep - ?
- Deep Sleep - 60uA

[2015-03-18 05:18] #266 closed

[2015-03-20 04:23] technobly commented on #304
Thought I'd mention if you burst 4 messages back to back, it takes 4 seconds to recover before you can send 1 per second again.

[2015-04-04 01:26] kennethlimcp commented on #310
@pcamp i don't live in US so i'm not sure about this but the idea is that you can actually adjust the time zone offset (+/-) from UTC.

Does the Eastern daylight time saving time change or fixed to -4? I'm just guessing it depends on which parts of the year? :smile_cat:

[2015-04-04 01:39] pcamp commented on #310
Eastern Daylight Time is always -4, but it is only used for part of the year.  During the rest of the year, the Eastern USA uses Eastern Standard Time, which is always -5.

[2015-04-04 02:11] kennethlimcp commented on #310
Sounds good! I shall change this. @technobly, can you just confirm this daylight time change is correct?

[2015-04-06 13:39] kennethlimcp opened #311 "claim core API"
See: https://community.spark.io/t/register-core-with-api-call/11115

The command can be found here: https://github.com/spark/spark-cli/blob/master/lib/ApiClient.js#L267

[2015-04-06 23:58] towynlin commented on #310
Thanks for pointing out this error @pcamp —yes @kennethlimcp :+1: this comment correctly says that EDT is always UTC-4 (only in use during the summer months), while the same part of the U.S. uses EST (UTC-5) for the winter months. And thanks Kenneth for getting clarification; time zones can definitely be confusing. :smile:

[2015-04-07 00:01] kennethlimcp commented on #310
@pcamp and @towynlin, thanks! Here's the fix as promised.

[2015-04-07 16:42] kennethlimcp commented on #311
added in here: https://github.com/spark/docs/commit/d54c7a4a602033a68ddcc987abeea9feb65e289f

[2015-04-07 16:42] #311 closed

[2015-04-10 02:15] zsup commented on #315
actually what that highlights to me is that these should probably not be part of the `Spark` object, but rather the `System` object. @m-mcgowan, thoughts?

[2015-04-13 12:33] kennethlimcp commented on #315
Changed has been implemented pending next firmware update: https://github.com/spark/firmware/issues/390

[2015-04-14 13:41] kennethlimcp opened #317 "Core wakeup pin behavior"
We need to explain clearer as to the behavior of the wakeup pin of the core:

Full details here: https://community.spark.io/t/having-trouble-using-sleep-with-wakeuppin/10691/45

[2015-04-14 13:49] kennethlimcp commented on #315
Here's what i am proposing:

- Rename `Advanced` to `System` (http://docs.spark.io/firmware/#advanced)
- Move `System.reset()` to new `System` category (http://docs.spark.io/firmware/#libraries-system)
- Move `Spark.deviceID()` and `Spark.sleep()` to new `System` category (This will change with the renaming from Spark to System)
- Move `Spark.syncTime()` to after `Spark.process()` (currently at th

[2015-04-14 13:50] zsup commented on #315
ping @m-mcgowan

[2015-04-14 13:53] m-mcgowan commented on #315
Sorry, for some reason not getting these pings. (Or they're buried under a zillion other notifications from github.)

The `reset()`, `deviceID()` and `sleep()` functions have been moved in the private repo to `System`. They are still available from `Spark` with a deprecation warning.

[2015-04-14 14:27] kennethlimcp commented on #315
Here's the PR: https://github.com/spark/docs/pull/318

Will merge in tonight if there's not objections/votes.

[2015-04-16 23:28] kennethlimcp commented on #317
Possible docs:

[code]

[code]

[2015-04-17 00:25] kennethlimcp commented on #315
Fixed in: https://github.com/spark/docs/pull/318

[2015-04-17 00:25] kennethlimcp commented on #297
Added in under `Cloud functions`

[2015-04-17 00:33] kennethlimcp opened #319 "Updates pending firmware V0.4.0"
- [getPinMode(pin)] https://github.com/spark/docs/pull/261
- [shortened Spark.publish()] https://github.com/spark/docs/pull/285
- [Serial Y modem?] https://github.com/spark/docs/pull/215
- [Rename to `System.`]  `Spark.sleep()` and `Spark.deviceID()`
- [update to use `long seconds` for `System.sleep()`]
- [Close `Spark.process()` discussion] https://github.com/spark/docs/pull/242
- Change `System.

[2015-04-17 00:37] kennethlimcp commented on #269
Closing this since it is changed in the new firmware and will be documented upon release.

[2015-04-17 00:37] #269 closed

[2015-04-17 19:22] lourd opened #320 "Adding documentation for spark/* events"
The only two types of `spark/status` events I've seen are online and offline, but I can't be sure since it's not in the docs :smile: The recent version of the firmware docs seem to suggest otherwise though, with [Get Public IP](http://docs.spark.io/firmware/#get-public-ip), [Get Device name](http://docs.spark.io/firmware/#get-device-name), and [Get random seed](http://docs.spark.io/firmware/#get-r

[2015-04-18 08:29] kennethlimcp commented on #320
Sounds good. That was added (but not announced) probably mainly used by the :cloud:  to know whether the core is online/offline or to notify users listening to events.

I can definitely add it in under the **Cloud functions** but *API* sounds like a better place.. hmmm

[2015-04-19 21:10] loopj commented on #251
:+1:

[2015-04-23 19:57] dmiddlecamp opened #322 "API - Registering a Callback is out of date, should mention webhooks / remove march reference"
https://community.spark.io/t/registering-a-callback/3383/63?u=dave

[2015-04-29 20:37] cmsunu28 opened #1 "Assets To Update"
**Assets for Getting Started** _Requested by Christine_
- [ ] photo of available devices in packaging, partially unboxed (can see all the things that come in it)
- [ ] updated asset of core, photon, plugged in and blinking blue
- [ ] Core plugged into USB
- [ ] Photon plugged into USB
- [ ] updated screenshot of spark core app (which I assume will be renamed)
- [ ] animations or illustrations for

[2015-04-29 20:38] cmsunu28 opened #2 "Sparticle Changes"
- [ ] Getting Started: Spark Core App > ???
- [ ] Getting Started: Spark Cloud > ???
- [ ] Examples: api.spark.io > ???
- [ ] Examples: Spark.variable > ???
- [ ] Javascript SDK: SparkJS > ???
- [ ] Javascript SDK: removeCore, etc
- [ ] Javascript SDK: var spark, etc
- [ ] IFTTT: Spark.publish, Spark.function, etc
- [ ] Webhooks: all technical terms, including those listed above (Spark Cloud, etc)

[2015-04-29 20:39] cmsunu28 opened #3 "Photon Changes"
- [x] Getting Started: Photon setup process
- [x] Getting Started: "Wait what is this thing" equivalent-- photon desc
- [x] Connecting Your Device:Soft AP Set up with Particle App for Photon
- [x] Document 5V tolerant pins: https://github.com/spark/photon/issues/7

[2015-04-29 22:43] cmsunu28 opened #4 "Things that are broken in current docs"
- [ ] iOS crashing when you have lots of code blocks?

[2015-05-03 10:46] ScruffR commented on #325
In SEMI_AUTOMATIC mode the action of establishing a cloud connection falls apart in several "independent" steps (unlike the atomic action in AUTOMATIC mode).
In between each step, user code can be placed.

What are these sub-actions, how long (aprox./avg.) do they take and what are the respective color codes for each step?

Related topics
http://community.spark.io/t/create-time-out-for-spark-conne

[2015-05-03 13:42] kennethlimcp commented on #325
@ScruffR ,

the thread you posted looks more like a code fix than a docs fix (though a docs fix would explain what might happen to the user but the former is the way to go)

1.) The colour scheme follows the existing. Blinking green during wifi connection and Blinking cyan during cloud connection.  Don't think we need to emphasize this more.

2.) For sub-actions,

In **SEMI_AUTOMATIC** you can sim

[2015-05-03 16:01] ScruffR commented on #325
There needs to be a docs fix, since the docs do state `Spark.connect()` does block user code untill connected, which is ***not*** true, and my sample just shows that it isn't.
Originally I've written this to take care of the blocking connect, but then I realized it's not at all blocking (the disconnect interrupt never fires, not even without any WiFi available, but user code keeps blinking the LED

[2015-05-04 16:48] jme783 opened #6 "Connecting Your Device"
- [x] Add the link to the new Particle tinker app in the "Particle App for Photon" section
- [x] Make any device-specific changes to the Connect Your Device page for Core and Photon

[2015-05-04 16:52] jme783 opened #7 "Photon Examples"
- [x] Create new Fritzing diagrams for each example on the Photon Examples page with the Photon device in the diagram
- [x]  Document any new photon-specific examples on the Photon Examples page

[2015-05-04 16:55] jme783 opened #8 "Firmware Page for Photon"
- [x] Change the title of the page to something Photon-specific
- [ ] Document Photon firmware

[2015-05-04 16:58] jme783 opened #9 "Cloud/API Page for Photon"
- [ ] Make any photon-specific changes to the Cloud/API page for the photon

[2015-05-04 16:59] jme783 opened #10 "Change all of the assets in the IDE pages to be Particle"

[2015-05-04 17:04] jme783 opened #11 "Code tweaks to docs"
- [x] Fix tables on mobile screens
- [x] Fix spacing on sub-menus
- [x] Cleanup nav bar to change GH link/edits
- [x] Re-route edit button to still link to new structure
- [x] Add support link to the nav bar on docs

[2015-05-04 17:06] jme783 opened #12 "Change /dev to reference Particle"
- [x] Change screenshots to say Particle
- [x] Change title of the page to Particle Dev
- [x] Replace word Spark with Particle

[2015-05-04 17:09] jme783 opened #13 "Javascript SDK"
- [ ] Update any changes in npm packages or Spark JS functions to reflect particle
- [ ] Change out any images to be Particle-specific instead of Spark specific

[2015-05-04 17:11] jme783 opened #14 "Photon Hardware"
- [x] Add Photon datasheet as PDF to Hardware page
- [x] Add Photon datasheet as Markdown to Hardware page

[2015-05-04 17:12] jme783 opened #15 "Photon Shields Page"
- [x] Add Photon Shields page

[2015-05-04 17:14] jme783 opened #16 "Photon Tinker Page"
- [ ] Add documentation on the new Tinker App
- [ ] Replace screenshots with shots from the new Tinker app
- [ ] Make any necessary changes to the Core Tinker page

[2015-05-04 17:16] jme783 opened #17 "CLI Page"
- [ ] Make any changes to the code samples if we change our npm package name or any command name changes in the CLI
- [ ] Add any photon-specific changes to the CLI

[2015-05-04 17:28] cmsunu28 opened #18 "Actual pictures and videos to take"
- [x] In box photon birds eye
- [x] In box core birds eye
- [x] Photon plugged in birds eye
- [x] Core plugged in birds eye
- <10 sec video of Core in...
  - [x] listening mode
  - [x] trying to connect, then connected
  - [x] connected
  - [x] flashing
  - [x] dfu
  - [x] factory reset
  - [ ] any other modes...
- <10 sec video of Photon in...
  - [x] listening mode
  - [x] trying to connect, the

[2015-05-04 19:11] technobly opened #19 "Open Datasheet Errata"
# E Series Datasheet (v002) - Not Released Yet
- [ ] Mention the use of optional SPI FLASH and the associated GPIO dependencies.
- [ ] Clarify on the use of the GND pads on the bottom
- [ ] Mention operation in below 0C temperatures for LiPo batteries

# Photon Datasheet (v016)
- [x] Updated External Coexistence Interface section (currently unsupported)

# P1 Datasheet (v010)
- [x] Change "Paid ti

[2015-05-04 19:30] jme783 opened #20 "Merge docs-private back into docs repo"
- [ ] Handle renaming the repo
- [ ] Make it public
- [ ] Make sure travis builds still work with new repo

[2015-05-04 22:45] mohitbhoite opened #21 "update the Internet button section in the shields.md"
- [ ] complete internet button section

[2015-05-04 22:46] #15 closed, assigned to mohitbhoite

[2015-05-04 22:48] mohitbhoite opened #22 "provide updated code samples where necessary for shields"
- [x] Relay Shield
- [x] Shield Shield
- [x] Power Shield
- [x] Internet Button
- [x] Programmer Shield (command line examples)

[2015-05-05 04:07] jme783 opened #23 "Fix doc layout"
remove box shadow thing and give negative margins.

Use Stripe as an example: https://stripe.com/docs/api#authentication

[2015-05-05 18:10] #12 closed, assigned to suda

[2015-05-06 16:38] #10 closed, assigned to jme783

[2015-05-06 18:41] #11 closed, assigned to jme783

[2015-05-07 14:16] kennethlimcp commented on #208
This was addressed in https://github.com/spark/docs/commit/b7a04ce6867b4e60be157b4c0526becbae3d23fd so i'm going to close this.

[2015-05-07 14:16] #208 closed

[2015-05-07 18:22] hpssjellis commented on #325
For semi-automatic mode please adjust the docs to state that spark.connect() is NOT a blocking call and also insert this code as an example.

Note: When wifi is connected it breaths Cyan, when Wifi is not connected it breaths Blue.

SYSTEM_MODE(SEMI_AUTOMATIC);
void setup() {
   Spark.connect();   // do not miss this line or you can't flash more code
}
void loop() {
}

Slightly better code would l

[2015-05-13 23:53] dmiddlecamp opened #328 "DFU Mode (Device Firmware Upgrade) - should link to dfu-util / how to install dfu-util ?"
orig section:
http://docs.particle.io/core/modes/#core-modes-dfu-mode-device-firmware-upgrade

Maybe?   http://dfu-util.sourceforge.net/

[2015-05-14 15:26] #14 closed, assigned to technobly

[2015-05-14 15:28] #7 closed, assigned to technobly

[2015-05-14 15:29] technobly commented on #8
We ended up with `FIRMWARE`

[2015-05-17 06:37] technobly opened #25 "Replace references to SPARK_WLAN_Loop() with Spark.process()"
kill all the SPARK_WLAN_Loop()'s and make sure they are properly replaced with Spark.process();

[2015-05-18 17:03] #20 closed, assigned to jme783

[2015-05-18 17:03] #23 closed, assigned to nobody

[2015-05-18 17:03] #4 closed, assigned to nobody

[2015-05-18 17:03] #2 closed, assigned to nobody

[2015-05-18 17:03] #3 closed, assigned to nobody

[2015-05-18 17:03] #1 closed, assigned to nobody

[2015-05-18 17:20] #6 closed, assigned to idokleinman

[2015-05-18 17:21] #22 closed, assigned to mohitbhoite

[2015-05-18 23:23] kennethlimcp opened #26 "Update `Spark.connect()` description"
See:

http://community.particle.io/t/the-photon-changelog-whats-new-and-different-from-the-core/11823/4

[2015-05-20 00:19] kennethlimcp opened #27 "Match example to function"
In the`analogWrite()` decription, there are 2 examples, one for normal `analogWrite()` and another for **DAC**.

It is not mentioned and simply placed as 2 separate examples and seems really confusing unless you know what **DAC** is about.

http://docs.particle.io/photon/firmware/#i-o-analogwrite

[2015-05-20 00:26] kennethlimcp commented on #18
@cmsunu28 will the images for shared resources like `firmware` be using a core or photon picture? I'm guessing it will be different on the electron as well so we might need to figure that as well.

One example is `SPI`: http://docs.particle.io/photon/firmware/#communication-spi

[2015-05-20 01:03] kennethlimcp opened #28 "Sub-headings missing in firmware"
Seems like the sub-headings for each category is missing.

Eg. `SPI` and `System modes`

See: http://docs.particle.io/photon/firmware/#communication

They all all listed under one heading of `communication`

[2015-05-20 03:54] technobly opened #29 "Document P1 Spare Pin Functions"
http://community.particle.io/t/photon-p1-pin-function-chages/11201/10

[2015-05-20 23:03] joegoggins opened #31 "Blink LED over the internet example"
Hey @cmsunu28 ,

While I was annotating the firmware examples so they could be imported into the web IDE programmatically, i noticed that the last firmware example uses D0 and D1 for LED pins.  I was thinking it might be better if it used D7 for one of the pins so that the example would show something visible even without doing any wiring.

[2015-05-21 01:49] zsup commented on #28
I think this might be just a styling issue? the subheadings in the left-hand column definitely aren't as clear now with some of the styling changes (ping @jme783)

[2015-05-21 04:11] wgbartley commented on #28
If you change the `font-weight` from `normal` to `bold` in [src/stylesheets/menu.less#L127](https://github.com/spark/docs/blob/48593f8eee00aa65063d546220a84ff02f740993/src/stylesheets/menu.less#L127), it should be good enough without going over a whole styling change for all the menu levels.

![screen shot 2015-05-21 at 12 06 43 am](https://cloud.githubusercontent.com/assets/271242/7741487/61e59cc

[2015-05-23 00:05] kennethlimcp commented on #28
@wgbartley looks great but the previous docs had an indent for all the sub-category items for it to be seen easily. Wished i had a fix but that's not my area of expertise!

[2015-05-23 22:06] moors7 commented on #28
How does this look? Should be an easy fix :)
![image](https://cloud.githubusercontent.com/assets/6599791/7785886/84ee9a16-01a8-11e5-8c95-faa95c31d2e8.png)

[2015-05-24 01:56] kennethlimcp commented on #28
@moors7 , PR please?! :)

[2015-05-24 08:38] moors7 commented on #28
With me not having a lot of experience with GitHub, and the fear that I'll break something, I think I prefer Garret's method :sweat_smile:

If you go to [/src/stylesheets/content.less#L474](https://github.com/spark/docs/blob/48593f8eee00aa65063d546220a84ff02f740993/src/stylesheets/content.less#L474)
And replace this:

[code]

by this:

[code]

then it should be fixed.

Let me know if you guys stil

[2015-05-24 09:38] kennethlimcp commented on #28
@moors7, i will pull the repo, add in your change to test before pushing to the repo :)

[2015-05-24 23:17] wgbartley opened #34 "Docs reference non-existing WiFi.status()"
http://docs.particle.io/photon/firmware/#system-spark-sleep refers to a "WiFi.status()", yet there isn't any documentation for it in the "WiFi" section (http://docs.particle.io/core/firmware/#wifi).  I can't find "WiFi.status()" in the firmware either.

[2015-05-24 23:48] kennethlimcp opened #35 "Updates for V0.4.0 firmware"
- [X] [getPinMode(pin)] https://github.com/spark/docs/pull/261 (tested with bugs)
- [ ]  [Serial Y modem?] https://github.com/spark/docs/pull/215 (tested with SOS flash)
- [ ] [WiFi.resolve()]
- [X] [WiFi.selectAntenna()]
- [ ] Photon memory map,both main memory and DCT area (dfu alt 1)
- [X] LED change callback
- [x]  [shortened Spark.publish()] https://github.com/spark/docs/pull/285
- [x] [Renam

[2015-05-24 23:48] kennethlimcp commented on #319
moved here: https://github.com/spark/docs/issues/35

[2015-05-25 02:55] #319 closed

[2015-05-25 04:34] kennethlimcp opened #37 "Move photon images under S3 bucket"
@technobly and @jme783,

Can we place the images for http://docs.particle.io/photon/hardware/ in this repo instead of using Google?

[2015-05-25 04:59] kennethlimcp opened #38 "Document led_update_handler"
From: https://community.particle.io/t/best-way-to-implement-an-outboard-bright-rgb-led/12063/2

[code]

[2015-05-26 12:59] kennethlimcp opened #41 "Should firmware headings follow syntax?"
Looking at `WIFI.CLEARCREDENTIALS()` and `WIFI.HASCREDENTIALS()` that does not have a syntax example on the right, it takes a while and a more experienced person to figure out the syntax.

I will be sending in a PR to add the syntax example but this might be the way to go.

Thoughts? @technobly @cmsunu28 @spark/spark-elite-read-write

[2015-05-26 13:30] kennethlimcp opened #43 "Anchor link for shared content"
Can someone let me know the url syntax for shared content anchor links?

See: https://github.com/spark/docs/blob/master/src/content/en/shared/firmware.md#string---object

The link points to https://docs.particle.io/photon when you click on it

[2015-05-26 15:38] kennethlimcp commented on #34
Thanks @wgbartley, removed the description so send some :beers: my way!

[2015-05-26 15:38] #34 closed, assigned to nobody

[2015-05-27 06:26] ScruffR opened #46 ""Troubleshooting" section missing in navigation sidebar of docs root page"
I can navigate to http://docs.particle.io/photon/troubleshooting/ and http://docs.particle.io/core/troubleshooting/ direct, but when going via the landing page http://docs.spark.io/ the link is nowhere to be found in the nav bar.

Also the nav bar is inconsistent between the troubleshooting pages and the root oage (and others).

![troubleshooting](https://cloud.githubusercontent.com/assets/6604878

[2015-05-27 06:37] kennethlimcp commented on #46
@ScruffR i don't think the **Troubleshooting** section is available anymore.

I'm purely guessing that the old files are still sitting inside. https://github.com/spark/docs/blob/master/.travis.yml#L12

@joegoggins or @jme783 can you guys take a look into this?

[2015-05-27 06:42] ScruffR commented on #46
It would be a pitty if this page (or pages now) was droppen, since it was quite handy to refere people to, to tick off a bunch of possible standard causes, without having to elaborate over and over again
And the pages are still there, as you can see.

If it's for the sake of _not_ mentioning the word "trouble" on the first page, then it would at least be good to have it as a sub-section in "Connec

[2015-05-27 06:51] kennethlimcp commented on #46
Not sure what's wrong but it was removed here: https://github.com/spark/docs/commit/1da1b32f4b2d795f2e54a923ad9ffe1ac51a28e3

These changes were made during the rebranding and I wasn't aware so let's wait for the team to tell us more about this.

[2015-05-27 17:47] joegoggins commented on #46
Good question guys, I'm not sure if that was intentional or not, looks like not, because the [content is still there](http://docs.particle.io/core/troubleshooting/), but it's not linked to.

@jme783 was there a broader goal in removing the Troubleshooting section, like shooting to move it into support.particle.io or something or does it simply need to get re-added to the navigation again?

[2015-05-27 19:18] zsup commented on #46
I believe this was removed because the content was moved over to support.particle.io - @kmmonk, is that right? If so, we should add a better link to that content from the docs so that people can find their way over there.

[2015-05-28 01:15] kmmonk commented on #46
That's correct @zsup. Everything got ported over to support.particle.io in the troubleshooting section so instead of having duplicate pages, troubleshooting and support, everything is on the support page now. I am constantly adding more articles (or at least trying to) to the support page, so eventually, I'd like it to be much more robust than the troubleshooting page was.

[2015-05-28 01:55] kennethlimcp commented on #46
@joegoggins so someone needs to clean up the S3 bucket!

[2015-05-28 17:42] joegoggins commented on #46
I just manually deleted the troubleshooting pages from the S3 bucket. But I believe the underlying reason why it's not getting cleaned up automatically is because we set `skip_cleanup: true` in our [Travis-CI yml](https://github.com/spark/docs/blob/master/.travis.yml#L12) when it should be false. More info about this [setting here](http://docs.travis-ci.com/user/deployment/s3/)

Before I make this

[2015-05-29 02:01] kennethlimcp commented on #31
@joegoggins i checked that the example is using `int led2 = D7;` so closing this :)

https://github.com/spark/docs/blob/master/src/content/en/shared/examples.md#blink-an-led

[2015-05-29 02:01] #31 closed, assigned to nobody

[2015-05-29 02:01] #28 closed, assigned to jme783

[2015-05-29 02:02] kennethlimcp commented on #27
Fixed in https://github.com/spark/docs/commit/10bb9739827535e030a140807bd5a5509cb815ab

[2015-05-29 02:02] #27 closed, assigned to nobody

[2015-05-29 02:03] kennethlimcp commented on #25
Don't see any more `SPARK_WLAN_Loop()` so closing this

[2015-05-29 02:03] #25 closed, assigned to nobody

[2015-05-29 02:59] towynlin commented on #41
Front-end folks should make the design call whether to stick with all caps headings or not. @jme783 @jenesaisdiq

Either way, we need to always include a code syntax example to show the capitalization. Thank you @kennethlimcp for adding the code block of syntax examples for these two.

[2015-05-29 03:23] #43 closed, assigned to nobody

[2015-05-29 17:01] joegoggins commented on #31
You da man @kennethlimcp , thanks for noticing + closing this!

[2015-05-30 00:40] zsup commented on #46
Nothing in there that isn't managed by travis. Thanks @joegoggins et al!

[2015-05-30 14:13] kennethlimcp commented on #46
@joegoggins i did an accidental push to master instead of creating a new branch but reverted it.

I think they might be other settings for S3 bucket clean up which has to be looked into.

[2015-05-31 01:13] kennethlimcp opened #51 "Documentation for disabling preprocessor"
Notes:

The preprocessor sometimes needs to be disabled with

[code]

at the top of the file in order for valid code to compile successfully,
but there's currently no published docs for this.

FYI, this is only necessary for .INO files compiled with Spark IDE, Spark CLI or Spark Dev

[2015-05-31 01:13] kennethlimcp commented on #259
Moved here: https://github.com/spark/docs/issues/51

[2015-05-31 01:13] #259 closed

[2015-05-31 01:16] kennethlimcp opened #52 "Udp.flush() undocumented"

[2015-05-31 01:16] kennethlimcp commented on #251
Moved here: https://github.com/spark/docs/issues/52

[2015-05-31 01:16] #257 closed

[2015-05-31 01:19] kennethlimcp opened #53 "Mention DFU install link"
Needs to add a simple link here: http://docs.particle.io/core/modes/#core-modes-dfu-mode-device-firmware-upgrade

[2015-05-31 01:19] kennethlimcp commented on #328
Moved here: https://github.com/spark/docs/issues/53

[2015-05-31 01:19] #328 closed

[2015-05-31 01:20] #302 closed

[2015-05-31 01:20] #286 closed

[2015-05-31 02:46] #53 closed, assigned to nobody

[2015-05-31 03:03] kennethlimcp opened #54 "Confusing node.js install steps"
@emilyrose,

the command-line stuff is not properly aligned and there seem to be a duplicate set of command.

Can you tell me what should go where for **INSTALLING NODE.JS**?

[2015-05-31 03:15] kennethlimcp opened #55 "Mention about new automagic device transfer"
This is available in the WEB IDE.

![screen shot 2015-05-31 at 10 55 34](https://cloud.githubusercontent.com/assets/6760914/7900384/1ed10546-0786-11e5-98eb-55fddd553517.png)
![screen shot 2015-05-31 at 10 55 39](https://cloud.githubusercontent.com/assets/6760914/7900385/1f033de0-0786-11e5-9a37-d5a942146e36.png)
![screen shot 2015-05-31 at 11 10 07](https://cloud.githubusercontent.com/assets/676091

[2015-05-31 03:31] kennethlimcp opened #56 "Use D7 for "Control LEDs over the 'net""
http://docs.particle.io/photon/examples/#control-leds-over-the-net

[2015-06-01 08:22] technobly commented on #56
@kennethlimcp do you mean just simplify this example to use D7 so there's no wiring needed at all?  If so, not a bad suggestion :)

[2015-06-01 08:24] technobly commented on #37
Done!

[2015-06-01 08:24] #37 closed, assigned to nobody

[2015-06-01 08:25] kennethlimcp commented on #56
We can use D0/D1 + D7 so even if the user did not hooked up an external LED, they can still use follow the example instead of pulling their hair ;)

[2015-06-01 11:33] m-mcgowan commented on #51
One common problem is use of classes/structs in function parameters.

[code]

This gives the error:

[code]

So when you see `ABC does not name a type` yet you know the type is defined, consider disabling the preprocessor.

(Why does this error? My guess is that the function forward-declarations being created by the preprocessor are put before the class declaration in the resulting cpp file, causi

[2015-06-01 17:28] joegoggins commented on #56
Love the suggestion @kennethlimcp, great idea! If you get a moment, go ahead and make this change, then ping me and I'll re-import this example into the Web IDE in a jiffy flash!  (The code that lives in the IDE is now directly extracted from the docs my a script that targets the invisible html markup snippets like `<a data-firmware-example-code-block=true>` and `<a id="variables-with-a-temperatur

[2015-06-01 23:03] joegoggins commented on #46
Boo, re-opening this issue.

`skip_cleanup: false` doesn't work as expected. [Travis-CI build output](https://travis-ci.org/spark/docs/builds/64992952) says this:

[code]

Also, adding a .gitkeep file to the `build` dir also does not solve the "no build dir" error error either, in that case we get a silent failure in which [travis-ci claims the build succeeded](https://travis-ci.org/spark/docs/bui

[2015-06-02 12:27] kennethlimcp commented on #329
Fixed here: https://github.com/spark/docs/commit/d4cc0556012e7b7921ab5067f08f585d99596f1d

[2015-06-02 12:39] kennethlimcp opened #57 "Self-scrolling/persistent nav-bar"
As the **firmware** page grows, looking at content way below requires a user to scroll back _wayyyyy_ up in order to navigate through other sections.

Would be great if the nav-bar if the left stays while content on the right scrolls!

@wgbartley

[2015-06-02 12:47] moors7 commented on #57
I think it would be pretty neat if the black subheading would be collapsible. That way it'll only show you the bits your interested in, without having to scroll through it all.
If that's possible, it'd be great if it automatically "activated" the heading you're at on the page. Meaning that if you scroll to another part of the docs, the menu goes along with that.
Making the menus collapsible would

[2015-06-02 12:52] kennethlimcp commented on #57
:+1: - It's just crazy how much i try to check the docs back and forth only to scroll infinitely up and down!

[2015-06-06 06:50] kennethlimcp commented on #56
@joejoggins, after thinking through and looking at the **examples** flow, it makes absolute sense to use **D7** over **D1** since it's the same setup as **Blinking an LED**.

Please update this for the Web IDE.

Thanks!

Fixed: https://github.com/spark/docs/commit/54161f67ce89c2ff17e3896424839c7d01a39f4f

[2015-06-06 06:52] kennethlimcp commented on #55
Need to know under which **heading** does this belong to.

Suggesting: **General**

[2015-06-07 02:40] technobly commented on #54
@kennethlimcp the only thing I see about Node.js is this (which is pretty short, but Node.js _is_ arguably pretty easy to install):

Did you mean the CLI itself?

[2015-06-07 02:57] kennethlimcp commented on #54
Forgotten to put the reference: http://docs.particle.io/photon/connect/#connecting-your-device-using-osx

Users should not even be typing stuff in the terminal to setup

[2015-06-07 06:09] technobly commented on #54
I see the terminal stuff now. No idea what those do or why they are necessary. They may be needed, but I have not had to use them and yes agreed they seem confusing.

[2015-06-07 08:50] #54 closed, assigned to nobody

[2015-06-07 11:38] mjmare opened #60 "Some doc pages unusable on mobile Safari an Chrome (crash)"
Some pages, eg http://docs.particle.io/photon/firmware/#wifi-setcredentials, make Safari and Chrome crash.
I've reported this before, (this is an old problem), I thought a reminder might be useful.

The pages are fine in the desktop versions of the browsers. Running iOS 8, fully updated.

[2015-06-07 11:41] kennethlimcp commented on #60
@mjmare, what's the model for your iPhone?

[2015-06-07 18:25] mjmare commented on #60
Hi

iPad Air 2, but had this with the previous model as well (was running iOS 7 perhaps).

Marcel

[2015-06-08 22:10] joegoggins opened #61 "Adjust docs.spark.io -> docs.particle.io redirect"
A fellow reported that docs.spark.io redirects weren't working correctly here: https://community.particle.io/t/spark-io-to-particle-io-redirection-breaks-core-docs-links/
It's true :)

Please change redirect logic so `http://docs.spark.io/*` redirects to `http://docs.particle.io/photon/*` where `*` is anything.

[2015-06-08 23:42] kennethlimcp commented on #61
@joegoggins thanks for the input. i asked this before but did not get a reply. The best thing is to redirect to the actual core/photon selection though.

[2015-06-08 23:43] kennethlimcp commented on #56
@joegoggins bump

[2015-06-09 06:35] moors7 commented on #61
Assuming most, if not all, of those links are from the pre-photon era, wouldn't it be better to redirect them to the Core pages?

[2015-06-09 07:39] joegoggins commented on #61
@kennethlimcp , this core vs photon structure didn't exist before, so it's impossible for a simple http redirector script to know where to redirect, we have to pick one.

@moors7 , I hear you, that was my initial thinking too. @cmsunu28 was thinking that longer term, for links discovered in community posts and all over the internet, we'd be better off redirecting to the Photon docs because these d

[2015-06-09 08:09] kennethlimcp commented on #61
Yeah but it's poor UX when you get redirected to a photon page when you browse let's say core/electron

[2015-06-09 08:43] moors7 commented on #61
I was under the assumption the new docs came at the same time the Photon docs came into existence. Therefor, all links prior to that have to be Core-related. If so, then they will be routed correctly when we send 'em over to the Core pages. The same is true for any links on the Web. If you're linking people to docs where it explains the single-threaded Core, they shouldn't end up at a multi-thread

[2015-06-09 12:20] kennethlimcp commented on #61
Ok i think the way to do it is `../file_name#rel-link`.

@joegoggins, i'm not sure who is managing the redirect but i don't see anything here in the repo causing the issue....

Who ever making the update should redirect `http://docs.spark.io/*` to `http://docs.particle.io`

[2015-06-09 15:02] kennethlimcp opened #62 "Code not aligned to content/images"
The new `.css` is breaking this:

http://docs.particle.io/photon/cli/#running-from-source-advanced-particle-flash
and
http://docs.particle.io/photon/cli/#running-from-source-advanced-particle-compile
and

http://docs.particle.io/photon/dev/

[2015-06-09 15:06] kennethlimcp commented on #60
I believe the images are too huge and we need to downsize them. The entire docs is `~700mb!`

[2015-06-09 15:20] kennethlimcp opened #63 "Incorrect information/link"
- http://docs.particle.io/photon/modes/
  --> Installation tutorial can be found here.
- http://docs.particle.io/photon/tinker/#tinkering-with-tinker-the-tinker-firmware    --> putting it in **factory reset mode**, or by re-flashing

[2015-06-10 01:27] kennethlimcp opened #64 "Update webhooks example to take private events only"
https://community.particle.io/t/webhooks-callbacks-are-not-reliable/11890/33

[2015-06-10 08:56] kennethlimcp commented on #64
@dmiddlecamp @cmsunu28 , need some input here.

The current examples causes an issue as the Webhook is not set to only listen to the `event` posted only by your own devices but any from the public firehose.

Since most people copy and paste the example, there will be instances where yours get triggered by others.

A fix requires changes to `particle-cli` to set the default behavior to only `privat

[2015-06-10 11:45] kennethlimcp opened #65 "Remove unsigned driver instructions"
@m-mcgowan ,

please confirm that the instructions can be removed with the release of signed drivers - https://github.com/spark/docs/blob/master/src/content/en/photon/connect.md#installing-the-particle-driver

[2015-06-10 11:46] kennethlimcp commented on #57
Seems like that's the current behavior so closing this.

[2015-06-10 11:46] #57 closed, assigned to nobody

[2015-06-10 11:48] #8 closed, assigned to m-mcgowan

[2015-06-10 15:00] dmiddlecamp commented on #64
yeah, I think we had decided to default that property to true if otherwise not yet

[2015-06-10 15:24] kennethlimcp commented on #63
fixed

[2015-06-10 15:24] #63 closed, assigned to nobody

[2015-06-10 15:25] kennethlimcp opened #66 "Update CLI command"
- [x] remove `cloud claim` It doesn't even exists anymore
- [ ] add all the current commands
- [ ] change `claim` to `add`

[2015-06-10 15:47] kennethlimcp commented on #64
Pending PR merge: https://github.com/kennethlimcp/particle-cli/commit/e4a710b372aafacf19714ade1f4c34098e91191f

[2015-06-10 17:32] m-mcgowan commented on #65
The Core drivers have always been signed, so I don't think signing the Photon drivers affects the process in any way other than making it work with versions of Windows that insist on signed drivers.

Eventually we may have an installer to install the DFU and Serial drivers to make the process download and click.

[2015-06-10 23:48] kennethlimcp commented on #65
So do we need the instructions or do we not with all signed drivers?

[2015-06-12 02:55] m-mcgowan commented on #65
We still need instructions. The instructions have little to do with whether the driver is signed or not.

[2015-06-12 04:46] #65 closed, assigned to nobody

[2015-06-12 16:49] joegoggins commented on #56
Thanks for making this change @kennethlimcp , just updated it in the Web Build IDE.

On a related note, when @cmsunu28 and I saw this change, it prompted a conversation of ways to improve the firmware examples sequence and make the learning on-ramp easier. Christine will be reaching out to you directly about this.

[2015-06-12 16:49] #56 closed, assigned to nobody

[2015-06-15 19:47] suda commented on #51
Added to http://support.particle.io/hc/en-us/articles/204952620 Is this enough? Or should we link to it somewhere else?

[2015-06-16 05:36] m-mcgowan commented on #51
That's good! I'm still drawn to having at least a passing mention of the preprocessor in the docs, with a link to that more fuller description.

[2015-06-16 10:58] steelydev commented on #41
IMHO headings should NOT be all caps and should, instead, reflect valid syntax.

[2015-06-16 13:57] dmiddlecamp commented on #41
I will say I was bitten by this recently when copy pasting in some func from the docs

Sent from my iPhone

[2015-06-17 02:59] jenesaisdiq commented on #41
What's the current state of this? Looks to me like docs now have camelCase examples, and that the compile service, at least, is agreeing that camelCase is the correct format (and that ALLCAPS is not).

What'd ya get bitten by, @dmiddlecamp?

[2015-06-17 03:18] technobly commented on #41
![screen shot 2015-06-16 at 10 11 17 pm](https://cloud.githubusercontent.com/assets/2249224/8199040/b56496c6-1474-11e5-8a97-a85840216b79.png)
Center column @jenesaisdiq headings are all caps... I agree these should be proper syntax, or if not... do not show the heading as code syntax.  For example: WiFi.clearCredentials() is better than WI-FI CLEAR CREDENTIALS is better than WIFI.CLEARCREDENTIALS(

[2015-06-17 03:23] andyw-lala commented on #41
Also, if method returns non-void, strive to provide pseudo-code in the RHS
to indicate useful interpretation of return code.

On Tue, Jun 16, 2015 at 10:18 PM, Technobly notifications@github.com
wrote:

##

Andy

[2015-06-17 03:38] jenesaisdiq commented on #41
Ahh, starin' me in the face, thanks @technobly. Will make sure it gets addressed.

Good point @andyw-lala; clearCredentials doesn't especially seem like it needs to have that response caught (for it to be useful), but hasCredentials probably does. I'm not seeing compile errors when I don't assign that return to anything, so it seems that a practical example's the necessary bit.

[2015-06-17 03:44] andyw-lala commented on #41
C doesn't complain if you ignore return values, but from a documentation
standpoint, if the function returns useful values, and the descriptive text
explains them, then the example should match.

On Tue, Jun 16, 2015 at 10:38 PM, Richard Whitney notifications@github.com
wrote:

##

Andy

[2015-06-17 03:51] jenesaisdiq opened #71 "docs.particle.io/firmware 404's"
Would be nicer if URLs of that format redirected to `/photon/firmware` at minimum, and even more ideally to `/core/firmware` or `/photon/firmware` based on the user's previous choice.

[2015-06-17 05:27] technobly commented on #71
Is this the same as the redirect issue?  You are arriving at `docs.particle.io/firmware` because of an old link `docs.spark.io/firmware` that is redirecting?  I know @joegoggins replaced all old links in the forum posts with the new ones... but are we still wanting to implement a redirect for old external links? i.e., all `docs.spark.io/xxxxx` links will redirect to `docs.particle.io/photon/xxxxx`

[2015-06-17 05:45] technobly opened #72 "PWM pins are incorrect for Photon in this section of Docs"
http://docs.particle.io/photon/firmware/#i-o-analogwrite

Refer to http://docs.particle.io/photon/photon-datasheet/#2-4-peripherals-and-gpio note 3 for correct pins

[2015-06-17 14:35] joegoggins commented on #61
Instead of statically determining what page a user should be redirected to, the first step we're going to take to resolve this is by creating a friendly 404 "page not found" page. From there, and once we have docs search in place, we will likely introduce further language + logic that helps a user find the desired page. It might prompt the user to do a search. It might prompt the user to choose "C

[2015-06-17 14:36] joegoggins commented on #71
Thanks for the ping on this guys. Yea, this does appear to be duplicate of https://github.com/spark/docs/issues/61 , closing, see last comment there for our plan to resolve this.

[2015-06-17 14:36] #71 closed, assigned to nobody

[2015-06-20 00:47] technobly commented on #72
Fixed: https://github.com/spark/docs/commit/614e1501c1f1bbe79a5e60593368d5151be97fae and https://github.com/spark/docs/commit/ac84daed9b0f34ac5a413f8b2184843b4d4a2ece

[2015-06-20 00:47] #72 closed, assigned to nobody

[2015-07-01 01:49] kennethlimcp opened #79 "unclaim device API not documented"
While trying to find the API docs for https://community.particle.io/t/unclaiming-the-core-on-a-third-party-website/12909, there's only the endpoint documented for claiming

[2015-07-01 19:00] technobly opened #80 "Add Spark.unsubscribe() to the docs"
https://github.com/spark/firmware/blob/develop/wiring/inc/spark_wiring_cloud.h#L96-L99

[2015-07-01 20:30] mumblepins opened #81 "Switching between Core and Photon gets 404 for some pages."
When switching between the Core and Photon docs, the page automagically redirects to the equivalent page, however for some pages, there is no equivalent, so a 404 is returned.  For example, going from Photon Hardware to the Core gets a 404, and when going from Hardware on the Core page to the Photon page, the menu gets stuck on the Core menu.

[2015-07-01 20:37] cmsunu28 commented on #81
Thanks for this! We're working on a larger fix for the docs that should take care of this issue.

[2015-07-02 03:35] kennethlimcp opened #82 "Document photon memory map"
It gets uber annoying having to refer to github and search through forum posts to figure out what goes where.

[2015-07-02 03:37] kennethlimcp commented on #64
Fixed in latest particle-cli

[2015-07-02 03:37] #64 closed, assigned to nobody

[2015-07-02 03:37] #62 closed, assigned to nobody

[2015-07-02 04:20] technobly commented on #82
_Ok, where should we put this?_

---

## Flash Layout
- Bootloader (16k)
- WICED DCT area (16k), stores wifi creds, certificates, mfr info, system flags etc.
- WICED DCT swap area (16k)
- eeprom emulation bank 1 (16k)
- eeprom emulation bank 2 (64k) [only 16k used]
- system code (512k) [256k wifi/comms + 256k hal/platform/services]
- factory backup, OTA backup and user code (384k) [3 x 128k]

## D

[2015-07-02 04:30] technobly commented on #38
It doesn't work that way anymore, and currently WILL work with this PR: https://github.com/spark/firmware/pull/465 but it's likely going to change going forward.  That said, it seemed appropriate to add some info here :)

[2015-07-02 05:07] rephorm opened #83 "Unclear description of "user safe mode""
The docs currently describe "user safe mode" with the following sentences:

"This is the most frequently mode, because your user application will not execute.  This can be useful if you have a bug in your code that is keeping you from re-flashing it over the air, or causing other hanging issues."

Is the first sentence trying to say that this mode is typically used when the user application will n

[2015-07-02 05:08] kennethlimcp commented on #82
Would be best for memory map of Particle :cloud: keys and user private keys as well.

[2015-07-02 05:09] kennethlimcp commented on #83
This mode allows you to place the device manually in a safe state where no user code is running, hereby allowing an OTA/cloud interaction.

Also, this mode is activated when there is no user application for execution.

[2015-07-02 05:24] rephorm commented on #83
Thanks, Kenneth. PR created.

[2015-07-06 08:30] kennethlimcp commented on #66
To update the `particle compile` command now that the photon is supported;

[code]

[2015-07-09 13:17] kennethlimcp opened #85 "[Core] confusing Analog pins mentioned for Shield shield"
Looking at the schematic,

| Label | Core pin | Uno Pin |
| --- | --- | --- |
| AD0 | A0 | A0 |
| AD1 | A1 | A1 |
| AD2 | A6 | A2 |

The docs should mention the A0, A1 and A2 is referring to the Arduino footprint since the Core has the same naming convention.

[2015-07-09 13:23] kennethlimcp commented on #85
Fixed: https://github.com/spark/docs/commit/b3c950bd9c011292e777348b7dce37ff2d0b6340

[2015-07-09 13:23] #85 closed, assigned to nobody

[2015-07-09 13:51] kennethlimcp opened #86 "[Photon] Screenshot of mobile app claiming process"
Ping @idokleinman,

I would need to this better understand how a user does this to support the community since my iPhone is not able to install the iOS app due to it's oldness... ;)

[2015-07-11 02:11] m-mcgowan opened #87 "[photon] DAC2 pin number error"
https://community.particle.io/t/photon-documentation-error-on-dac/12945

The docs say DAC2 is A5, it should be A3.

[2015-07-11 04:59] technobly commented on #87
Thanks!  I'm tracking this and many more issues for a big datasheet update here: https://github.com/spark/docs/issues/19

[2015-07-11 04:59] #87 closed, assigned to nobody

[2015-07-14 04:22] technobly opened #88 "tone()/noTone() not showing correct available pins for Photon"
The section on tone() in the Docs just does not have the correct info for the Photon.  See the section on PWM which shows the correct info for Core/Photon PWM capability.  http://docs.particle.io/photon/firmware/#i-o-analogwrite Any pin that supports PWM will also support tone().  Thanks to @wesner0019!

[2015-07-15 04:43] m-mcgowan commented on #38
This is looking good :+1:  The data pointer just needs storing alongside the callback function and then passed as the first parameter when the callback is called.

I'm puzzled what happened to my original implementation of `set_rgb_led_change_handler()` since this was definitely implemented at some point. Did the gremlins swallow it? :-)

[2015-07-15 16:26] technobly commented on #38
I dunno man... I was wondering that myself.  Couldn't find the implementation after like Sept 2014 IIRC.

[2015-07-17 22:59] jenesaisdiq opened #90 ""const" in /firmware not defined"
There's a link to `const` in the `#define` section, but it just links to the page. Also, `const` is not defined anywhere.

[2015-07-18 08:55] m-mcgowan opened #91 "[firmware, 0.4.4] micros() no longer rolls over after a minute"
In version 0.4.4 of the firmware, `micros()` continues incrementing forever rather than wrapping around after less than a minute.

Adding this here so we can update the docs when the firmware is published.

[2015-07-18 22:41] embedded-creations opened #92 "All Caps on headings with function names"
This is probably all over the docs, but I was looking at this section in particular:
http://docs.particle.io/photon/firmware/#communication-spi

It's not a huge deal, but it would be nice to use the correct capitalization of function names when they are headings.

The heading on the left says "begin()", and the heading in the docs says "BEGIN()".  The function is actually called `begin()`.

This i

[2015-07-19 04:41] technobly commented on #92
Duplicate issue: https://github.com/spark/docs/issues/41 Please see the convo there, thanks!

[2015-07-19 04:41] #92 closed, assigned to nobody

[2015-07-20 05:48] kennethlimcp opened #93 "Make API guide more comprehensive"
This is kinda hard to follow and understand for a beginner so some cut and paste examples need to be available: https://community.particle.io/t/cloud-api-how-to-use-curl/13499/6

[2015-07-21 00:02] kennethlimcp opened #94 "metalsmith issues"
- [x] Mousing over `If your device is not blinking blue, hold down the SETUP button.` gives me Listening Mode vine (https://docs.staging.particle.io/guide/getting-started/start/photon/)
- [x] 404 with tinker link (https://docs.staging.particle.io/reference/tinker) at https://docs.staging.particle.io/guide/getting-started/start/photon/
- [x] Mac and Windows wrong link (https://docs.staging.particle

[2015-07-23 02:27] kennethlimcp opened #96 "Replace shields example code with reference to Web IDE"

[2015-07-26 07:57] technobly opened #98 "Programmer Shield Software Instructions"
Missing from Docs is something like a nice walkthrough of all the software you'll need to install to use the Programmer Shield.  A link to the repo's readme would be a good start: https://community.particle.io/t/questions-about-the-upcoming-redesigned-version-of-the-programmer-shield/10646/2

https://github.com/spark/shields/tree/master/photon-shields/programmer-shield

[2015-07-30 21:30] technobly opened #101 "Serial2 not available on D0/D1 pins of Photon"
http://docs.particle.io/photon/firmware/#communication-serial

It’s actually on the BLUE and GREEN segments of the RGB led.  If using a P1, you can still use Serial2 and just move the status LED to 3 PWM outputs with some special code that repeats the LED status to those outputs.  If many PWMs are needed, you may can consider using a NeoPixel for a status LED which only requires one digital output

[2015-08-04 03:00] technobly opened #103 "Core Datasheet & How to Build a Product are missing antenna keep out zone definition"
- [ ] Core datasheet is missing antenna keep out zone definition: Refer to Photon datasheet for a great recommendation for ground plane and signal keep out:
  http://docs.particle.io/photon/photon-datasheet/#5-3-recommended-pcb-land-pattern-photon-with-headers
- [ ] How to Build a Product should also mention this in the section on PCB design (specifically the "Your device must have an RF circuit a

[2015-08-06 20:47] edalquist opened #105 "last_heard should be marked as deprecated for Device List"
Context: https://community.particle.io/t/last-heard-stale-in-device-list/14116

Bad Content: https://docs.particle.io/reference/api/#list-devices

I'd send a pull request but I don;t know where that content is coming from. The api.md file just has a placeholder: {{> api group=apiGroups.Devices}}

[2015-08-06 22:54] kennethlimcp opened #106 "SYSTEM_THREAD docs incorrect"
I'm not sure if this feature is introduced for the Photon but definitely not for the Core - https://docs.particle.io/reference/firmware/core/#-code-system_thread-code-macro

[2015-08-06 23:30] kennethlimcp opened #108 "particle compile device missing docs"
Somehow the commit i made is half pulled into the new docs and this piece of info is missing for `particle compile`: https://github.com/spark/docs/commit/3c8966ea17f959503ac1898600683ae7a5188a3b#diff-7decfaa8e4e126012e0401c4ad86cc55R341

[code]

[2015-08-06 23:35] #108 closed, assigned to nobody

[2015-08-06 23:36] kennethlimcp commented on #83
@rephorm check out the new docs and see if the safe mode description is better now. Otherwise, i can review this and pull it in. Thanks!

[2015-08-06 23:37] kennethlimcp commented on #46
Closing this as `troubleshooting` is now under **support**

[2015-08-06 23:38] #46 closed, assigned to nobody

[2015-08-09 12:15] gitcnd opened #111 "cli.md needs link to cli installation instructions"
The CLI doc jumps right into examples, none of which work of course, without the CLI first being installed, but no hint of how to do this exists in this doc.

It should be at the start...

[2015-08-09 12:18] moors7 commented on #111
What about this? https://docs.particle.io/guide/tools-and-features/cli/#installing
Or am I looking in the wrong place?

[2015-08-09 15:02] gitcnd commented on #111
I'm not saying it doesn't exist, somewhere in the bowels of an alpha-centurion council depot... I'm saying that the doc about how to use the CLI needs to start with instructions about how to INSTALL the cli.  If those are they - put them, or a link to them, into the doc, at the start...

Even better - give us some non-rocket-science non-timewasting way to fix that ourselves, then we don't have to

[2015-08-09 15:16] moors7 commented on #111
So I guess I was looking in the wrong place... I think you're referring to the "reference" section of the docs? Considering there is [more than one](https://github.com/spark/docs/blob/master/src/content/guide/tools-and-features/cli.md) "CLI.md" it might be worthwhile pointing out to which you're referring.
When you say the docs need to start with telling you how to install it, I'm inclined to say

[2015-08-11 03:41] dmiddlecamp opened #112 "mobile docs feedback"
So I'm rusty on my mobile development, here are some issues I hit while trying to get a mobile app setup.
- took a while to find the IOS example app (under "SUPPORT AND CONTRIBUTION" section)
- install starts with -> put line `pod "Spark-SDK"` in podfile, I haven't used cocoapods, don't know what this file should be called.  -> turns out it's "Podfile"
- example app is missing README / docs
- exam

[2015-08-11 12:08] dmiddlecamp opened #113 "mobile sdk - missing steps:"
- ios SDK must be cloned into root folder next to project

[code]
- cocoapods keys must be installed:

[code]

[2015-08-11 12:09] dmiddlecamp commented on #113
only after doing these steps can you run `pod update` !

[2015-08-11 18:09] dmiddlecamp opened #114 "Internet button library reference"
@jenesaisdiq  <--- I choose you!

[2015-08-11 21:37] dmiddlecamp opened #115 "API - document device_claims endpoint"

[2015-08-12 23:21] hunterthedog opened #117 "this is an issue"
christine is not wearing a hat and that makes me sad

[2015-08-12 23:23] ScruffR commented on #117
NIce issue ;-)

[2015-08-12 23:29] moors7 commented on #117
Don't be sad, everything will be okay :)
![christine_hat](https://cloud.githubusercontent.com/assets/6599791/9239305/b083afda-415a-11e5-8fe6-8e493338c3d5.png)

[2015-08-13 00:14] cmsunu28 commented on #117
awwwww

[2015-08-13 05:46] rephorm commented on #83
Hey, sorry I never got back to you before. The new descriptions are great! Thanks.

[2015-08-13 05:46] #83 closed, assigned to nobody

[2015-08-13 13:35] ScruffR opened #121 "Can't find reference to "Add tabs" for Particle Build"
I was just about to tell a member to look in the docs for this
https://community.particle.io/t/how-can-i-include-cpp-and-h-files-in-cloud-bild/14353

But fortunately checked first.
I could not find any reference to the (+) symbol top right corner to add .h/.cpp tabs to your own project.

There is a section for importing/including libs, but not your own files.

[2015-08-14 18:35] monkbroc opened #125 "api-node module missing?"
When I check out the repository, I can't update the api-node submodule because https://github.com/spark/api-node returns 404 not found. Is it a private repository? Why do you have this in the public docs repo?

It's not a big deal, but I get an error `fatal: repository 'https://github.com/spark/api-node/' not found` every time I pull new commits.

[2015-08-15 07:21] ScruffR opened #128 "No reference in docs how to install DFU drivers on Windows"
A member was convinced to have done everthing according docs to perform something like `particle flash --usb tinker`, but couldn't get it to work.

When checking the docs I found that these parts of the docs do create the impression that the `Spark.zip` drivers suffice to allow for _all_ `particle` commands, which they don't.

https://docs.particle.io/guide/getting-started/connect/core/#using-wind

[2015-08-15 07:36] ScruffR opened #129 "Comments about HowTo in Windows not quite correct"
In
https://docs.particle.io/guide/getting-started/connect/core/#installing-node-js
https://docs.particle.io/guide/getting-started/connect/photon/#installing-node-js
the part

[code]

only refers to Windows 8 (**neither** Win 7 **nor** Win 10) and seems rather superfluous, since people should know how to restart their PC.

Similarly for checking 32bit vs. 64bit.
There is an easier and more general

[2015-08-18 07:21] technobly commented on #88
More tone() docs...

Because tone() does not block with the duration parameter.. it just ends the PWM with an interrupt, the hard delay(duration) that follows the tone() call needs to be changed from a scaled value to a fixed note duration value.  To separate notes, a RELEASE parameter can be supplied and remove time from the actual note duration within the tone() function.

When we get some time

[2015-08-21 00:05] MartyMacGyver opened #138 "Factory reset docs are inaccurate"
From here:
https://docs.particle.io/guide/getting-started/modes/photon/#factory-reset
1. Hold down BOTH buttons
2. Release only the RESET button, while holding down the SETUP button.
3. Wait for the LED to start flashing magenta, then yellow, then green (continue to hold the SETUP button)
4. The LED will turn solid white (continue to hold the SETUP button)
5. Finally, the LED will turn blink white

[2015-08-23 04:28] m-mcgowan opened #141 "firmware docs 0.4.5"
Checklist of all the changes to be doc'ed for the 0.4.5 release:
- [x] STARTUP() macro
- [ ] how to contribute to firmware
  - firmware API tests, unit tests, docs, HAL/dynalib rules
- [x] [TCPClient.remoteIP](https://github.com/spark/firmware/issues/551)
- [x] UDP.setBuffer/sendPacket/receivePacket - https://github.com/spark/firmware/pull/452
- [x] Static IP support - https://github.com/spark/fir

[2015-08-23 04:29] #91 closed, assigned to nobody

[2015-08-28 13:24] kennethlimcp opened #147 "Add license file"
Someone needs to decide on the license for the docs

[code]

[2015-08-29 10:25] mathiasschopmans opened #149 "Document webhooks `responseTemplate` option"
Currently this option seems undocumented. It would be nice to mention this in  https://docs.particle.io/guide/tools-and-features/webhooks/#webhook-options

Found a example usage in the community: https://community.particle.io/t/cloud-json-parsing/11223/2

[code]

I'm also interested wether this technique works for XML responses.
Thanks.

[2015-09-02 13:57] kennethlimcp opened #152 "Shields docs feedback"
- [x] **Power shield**
- v2.1.0
- [ ] stat1 and stat2 LED should be documented of it's represented function
- [x] **Relay Shield**
- v3.1.0
- [x]  Should mention in docs that the control pins can be disabled by cutting in between each pad

**Programmer Shield**
- [x]  does not mention which pins of the Photon/Core does the UART connect to.

[2015-09-03 23:19] kennethlimcp commented on #129
@ScruffR any PR for us? :)

[2015-09-03 23:19] kennethlimcp commented on #125
@brycekahle can you comment about this? I get this once in a while as well.

[2015-09-03 23:20] #117 closed, assigned to nobody

[2015-09-03 23:21] kennethlimcp commented on #128
@ScruffR I have a tutorial for DFU in the community if linking to that helps. The docs is missing the HowTo install DFU in the guide section

[2015-09-04 01:23] brycekahle commented on #125
It is a private repo. We have some auto generated API documentation based on it.

[2015-09-06 12:06] ScruffR commented on #128
I guess this would at least be a good starting point.

[2015-09-08 02:20] technobly opened #155 "Nesting 2 levels deep not working"
The Libraries menu item expands into the Servo, RGB and Time libraries... but as you can see from this view they are not nesting properly.

![screen shot 2015-09-07 at 9 16 31 pm](https://cloud.githubusercontent.com/assets/2249224/9725056/1855975e-55a6-11e5-8214-46df428c9f19.png)

[2015-09-09 06:30] kennethlimcp opened #157 "Incomplete maker kit examples"
See: https://community.particle.io/t/getting-started-with-photon-maker-kit-totally-confused/15206

Customers are purchasing actual kits but without any information and usage support.

[2015-09-09 06:31] kennethlimcp commented on #152
@mohitbhoite let me know how i can help here. I can make the image for the relay shield issue but someone needs to tell me about stat1 and stat2 led for power shield

[2015-09-09 06:33] kennethlimcp commented on #125
Is there someway to suppress the error? What i do locally is to untrack the `api-node` under git but that's a little weird for developers wanting to help and contribute

[2015-09-09 06:36] #94 closed, assigned to nobody

[2015-09-09 06:37] kennethlimcp opened #158 "Rename driver to Particle.zip"
@joegoggins will you be able to handle this?

`https://docs.particle.io/guide/getting-started/connect/core/#installing-the-particle-driver`

[2015-09-09 06:38] kennethlimcp commented on #81
Should be fixed with new metalsmith docs

[2015-09-09 06:38] #81 closed, assigned to nobody

[2015-09-09 06:40] kennethlimcp commented on #21
Available here: https://docs.particle.io/datasheets/photon-shields/#internet-button

[2015-09-09 06:40] #21 closed, assigned to mohitbhoite

[2015-09-09 06:40] kennethlimcp commented on #61
Closing with the introduction of metalsmith docs

[2015-09-09 06:40] #61 closed, assigned to nobody

[2015-09-09 06:42] kennethlimcp commented on #141
@m-mcgowan  while you are at this,

we have some stale ones like:
- https://github.com/spark/docs/issues/35
- https://github.com/spark/docs/issues/80

Will you be able to work on them as well?

[2015-09-09 08:00] m-mcgowan commented on #35
I couldn't reproduce the bug you mentioned for getPinMode(). https://github.com/spark/firmware/issues/437

[2015-09-09 08:01] m-mcgowan commented on #35
WiFi.selectAntenna() is in the docs. So is RGB onChange for the LED change callback. (I can't edit the original post.)

[2015-09-09 08:03] m-mcgowan commented on #80
This was mainly intended as a test method. I can't really see a use case for it in production since subscriptions tend to be setup for the lifetime of the application. Though I suppose there's no harm in documenting even if it's no use to 99% of developers.

[2015-09-09 08:04] kennethlimcp opened #159 "Search requires user to know full function name"
I was searching for `selectAntenna` and returned no result but `WiFi.selectAntenna` worked fine.

[2015-09-09 08:13] m-mcgowan commented on #159
In looking through the docs now, there's an inconsistency between some functions using the class name as a prefix, and others that don't.

For example, WiFi functions are all written with the prefix, but those for UDP/TCP aren't. Ideally we'd be consistent in all cases. Independently of what we decide there though, I give a :+1:  that the search should also find the function without the prefix - i

[2015-09-09 08:23] technobly commented on #159
I think we should strive to include the class name when appropriate but also find a way to make the search function search member function names.

[2015-09-09 13:52] joegoggins commented on #158
Thanks for bringing this up, will do.

@brycekahle , @technobly : My plan is to 1) Rename the S3 file, 2) add an S3 redirect, and 3) change the docs to point at the new one. I'm assuming this name change won't have any downstream issues, let me know if not.

[2015-09-09 17:35] brycekahle commented on #125
I'll see if I can add some instructions to avoid the error.

[2015-09-10 08:38] kennethlimcp opened #161 "Refactor discussion"
There are some information at incorrect places that should be factored out
- Programmer shield usage should go under Guide/reference
- new shields are not specific to the Photon and should be listed by itself in Datasheet

[2015-09-10 10:21] kennethlimcp commented on #129
@ScruffR i removed the `restart computer` description. For the 32/64 bit checking, it seems ok to have it there. Thoughts?

[2015-09-10 10:23] kennethlimcp commented on #128
@cmsunu28,

I would love your input here. Should we write down explicitly on how to install the entire CLI and it's dependencies (since it is called a `guide`)? Won't mind doing this by grabbing the content from my tutorials instead of directing people there (the guide should _guide_ them to install without external resources)

[2015-09-10 10:54] moors7 commented on #128
I think having something official in the guide is good. All essential information should come from a verified source, in this case the docs. (That's not to say yours is not verified, Kenneth :O). Any additional, or 'personal experience' information is okay for the forums, as longs as there's an 'official' path to follow.
Related to this topic in the way that people are eager for a concentrated sou

[2015-09-10 11:00] kennethlimcp commented on #138
Closing this since the description was updated here: https://github.com/spark/docs/commit/efed4c861695156cb00606e2ee9f298a9da1b509

[2015-09-10 11:00] #138 closed, assigned to nobody

[2015-09-10 11:01] kennethlimcp commented on #111
@gitcnd, thanks for the feedback. I understand where you are coming from. Have suggested and waiting got more inputs before deciding if the entire docs for installation with be included for CLI.

Closing this and focusing on: https://github.com/spark/docs/issues/128

[2015-09-10 11:01] #111 closed, assigned to nobody

[2015-09-10 11:31] kennethlimcp opened #165 "Glossary of things"
Where should all these go?
- Cloud public key download link (https://s3.amazonaws.com/spark-website/cloud_public.der)
- Unlocker/locker bin
- RGB led colour representation (blinking white, magenta..)
- Photon memory map (https://github.com/spark/docs/issues/82)
- DFU command list (https://github.com/spark/docs/wiki/DFU-reference)
- Document listening mode commands (https://github.com/spark/docs/is

[2015-09-10 13:20] kennethlimcp commented on #158
Tested working with: https://github.com/spark/docs/commit/fb35c5f4a51da5aeb77ec640cf1683cd382c9b8a

Spark.zip and Particle.zip are both ok via direct link download so closing. Thanks @joegoggins!

[2015-09-10 13:20] #158 closed, assigned to joegoggins

[2015-09-10 13:40] ScruffR commented on #129
I think the restart might not be necessary, so yes this can go, but the parentheses of how to do it **has** to go, since it's just wrong for any other than Win 8.x

Good job :+1:

[2015-09-10 13:42] kennethlimcp commented on #129
@ScruffR here..mixed PR - https://github.com/spark/docs/commit/4d9d321a092199d8b90ff8e6c2bcb70bd86435ab

So win 7 info should go too? Can we replace with the correct one?

[2015-09-10 14:00] ScruffR commented on #129
I'm still not sure about the 32/64 description. I'd rather suggest people to google it or ask someone if they don't know.
e.g. I'm using this on my tablet no mouse, so all mouse actions don't fit me.
Win 10 is different again, ...

But I'm not sure how this is seen officially ;-)

[2015-09-10 14:09] joegoggins commented on #158
No problem K!

[2015-09-10 16:26] kennethlimcp commented on #106
Fixed with - https://github.com/spark/docs/commit/415ecce279ccbd43d7245eadcb943a8413752a3f

[2015-09-10 16:26] #106 closed, assigned to nobody

[2015-09-10 16:36] kennethlimcp commented on #60
Going to close this since `metal-smith` docs are introduced

[2015-09-10 16:36] #60 closed, assigned to nobody

[2015-09-10 16:37] #35 closed, assigned to nobody

[2015-09-10 16:38] kennethlimcp commented on #26
Closing this and see how things turn out with multi threading

[2015-09-10 16:38] #26 closed, assigned to nobody

[2015-09-10 16:43] kennethlimcp commented on #129
@ScruffR  see the latest: https://github.com/spark/docs/commit/a14f6c92d6493b4399c257f27b1ac2f1e8985cef

Going to merge in few hours time after i :zzz: if there are no violent objections

[2015-09-10 17:14] kennethlimcp commented on #98
Partially fixed here: https://github.com/spark/docs/commit/01d1f91fec3bdeb8cecef3d91142485691436eaf

[2015-09-10 17:16] kennethlimcp commented on #105
@dmiddlecamp i don't have access to the private repo for `api-node` so will you be able to open an issue there?

[2015-09-10 17:19] #17 closed, assigned to towynlin

[2015-09-10 17:19] #13 closed, assigned to affinity-matrix

[2015-09-10 17:20] #9 closed, assigned to towynlin

[2015-09-10 17:20] #16 closed, assigned to idokleinman

[2015-09-10 17:56] cmsunu28 commented on #128
Hey @kennethlimcp if you show me the basics of what you mean I can take a deeper look. Point me to your post?

[2015-09-10 17:58] cmsunu28 commented on #161
I believe that the programmer shield should not go in the guide until there are clear step-by-step examples that go with it.

Reference is mainly for code.

Datasheets are supposed to be descriptions of hardware with the basic run-down.

[2015-09-10 23:30] kennethlimcp commented on #128
https://community.particle.io/t/tutorial-particle-cli-on-mac-osx-07-jun-2015/5225

https://community.particle.io/t/tutorial-particle-cli-on-windows-07-jun-2015/3112

[2015-09-10 23:43] kennethlimcp opened #167 "Remove Photon factory reset notes"
https://docs.particle.io/support/troubleshooting-support/photon/#led-colors-explained-

[2015-09-11 00:26] chobberoni commented on #167
can you comment further on this? @kennethlimcp

[2015-09-11 00:28] kennethlimcp commented on #167
@chobberoni, just thinking about it. Factory reset is no longer available (or rather behaves differently but i think the docs can still stay) this is what i updated it to so gonna close this - https://github.com/spark/docs/pull/168/files

Let me know what you think!

[2015-09-11 00:28] #167 closed, assigned to nobody

[2015-09-11 00:31] kennethlimcp commented on #51
@chobberoni should this go under a section by itself under references/firmware?

[2015-09-11 00:56] kennethlimcp opened #169 "Device selection disappears below 1st category"
When you first visit the top category (guide, reference, datasheet, support), you will notice the device selection. Clicking on the 2nd sub category and below it disappears.

<img width="1253" alt="screen shot 2015-09-11 at 08 56 11" src="https://cloud.githubusercontent.com/assets/6760914/9804690/fcf1d35a-5862-11e5-9d3a-e1bf50dd7446.png">

[2015-09-11 01:01] brycekahle commented on #169
That is because you selected a page that is specific to one device.

[2015-09-11 01:01] #169 closed, assigned to nobody

[2015-09-11 01:02] kennethlimcp commented on #169
@brycekahle  what... So i cannot do conditional below the first category and this is considered closed?

I am using the conditional here and it is not picking up which device is selected:

<img width="1176" alt="screen shot 2015-09-11 at 09 03 17" src="https://cloud.githubusercontent.com/assets/6760914/9804803/f94063ba-5863-11e5-99f9-3189aec16c2c.png">

[2015-09-11 01:04] brycekahle commented on #169
You selected the "Core datasheet". There is no Photon version of the Core datasheet. If you visit https://docs.particle.io/guide/getting-started/connect/photon/ you see the device selector is still there.

Each page has metadata to indicate if there are multiple device specific versions. If not, no selector is shown.

[2015-09-11 08:06] ScruffR opened #170 "Photon: analogWrite() for DAC requires pinMode() each time"
I think this is rather a firmware issue (which I'll also open), but for the time being it seems necessary to add a comment that it's not enough to set `pinMode(DAC, OUTPUT)` only once but you need to do this each time before calling `analogWrite(DAC, val)`.

There is no mention about this behaviour here
https://docs.particle.io/reference/firmware/photon/#analog-output-photon-

But in this topic I'

[2015-09-11 09:32] kennethlimcp commented on #152
From the datasheet:

<img width="590" alt="screen shot 2015-09-11 at 17 19 14" src="https://cloud.githubusercontent.com/assets/6760914/9811623/fb25d8bc-58aa-11e5-9bc7-c03d90511fa7.png">

Will create a table accordingly.

[2015-09-11 11:32] ScruffR commented on #152
Do these directly correspond to the two LEDs (red/blue)?

Having this table is one thing, but users might not see it quite this technical.
e.g. having the shield powered via USB with a Photon in it but battery not attached connected (propperly) does show red with a short flash of blue - how would I see that from the table?
When doing this the first time after having the shield unpowered for a long

[2015-09-11 11:35] kennethlimcp commented on #152
That's good input. let me read the datasheet further ;)
- [ ] Unable to find information about rapid blue and red blinking without battery attached

[2015-09-11 15:57] dmiddlecamp commented on #105
sure, created an issue to track this

[2015-09-11 23:02] #121 closed, assigned to nobody

[2015-09-12 20:44] dmiddlecamp opened #173 "photon docs missing antenna select"
bool WiFi.antennaSelect(AUTO | INTERNAL | EXTERNAL);

[2015-09-12 22:17] m-mcgowan commented on #173
https://docs.particle.io/reference/firmware/photon/#wifi-selectantenna-

it was originally cast as antennaSelect when the function was drafted, but later renamed to selectAntenna before release.

[2015-09-12 22:36] dmiddlecamp commented on #173
is there something we can do to get it to show up when we search for "antenna"?

[2015-09-12 23:15] m-mcgowan commented on #173
Yeah, that would be sweet! It's bit me a few times too. There's an issue for that here, https://github.com/spark/docs/issues/159

[2015-09-13 13:55] #141 closed, assigned to nobody

[2015-09-13 13:58] m-mcgowan opened #174 "firmware docs 0.4.6"
A few remaining docs from - https://github.com/spark/docs/issues/141
(system events aren't formally published yet and I feel we require many supporting examples to make their use clear.)

New for 0.4.6
- [x] `printf`/`printfln` on Print, E.g. `Serial.printfln("Current temperature is %d", temp);`
- [x] `format` on String, e.g. Particle.publish(String.format("Current temperature is %d", temp));
- [x

[2015-09-13 23:29] chobberoni commented on #51
@kennethlimcp yes!

[2015-09-13 23:30] chobberoni commented on #167
you're right @kennethlimcp ! we (rich and I) were just talking about this the other day.

[2015-09-13 23:50] kennethlimcp commented on #51
@chobberoni , here's the initial PR: https://github.com/spark/docs/pull/175

I think it can be better written to explain what's going on.

@m-mcgowan, would love your comments about the possible change to `#pragma PARTICLE_NO_PREPROCESSOR` compared to the current `#pragma SPARK_NO_PREPROCESSOR`

Thanks all!

[2015-09-13 23:56] m-mcgowan commented on #51
I've no problem adding PARTICLE_NO_PREPROCESSOR so long as the existing pragma is maintained but perhaps accompanied with a deprecation warning.  Since the compiler and firmware are often seen as being part of the same system (you can't really use one without the other when you cloud compile) then I suggest that deprecation of SPARK names follow the API deprecation schedule set out for firmware he

[2015-09-13 23:57] kennethlimcp commented on #51
:+1: this should be part of the migration plan :)

[2015-09-14 07:10] kasperkamperman opened #176 "Please mention nodejs version"
It seems that 4.0.0 doesn't work: maybe good to mention

https://docs.particle.io/guide/getting-started/connect/photon/#installing-node-js

https://community.particle.io/t/cant-install-particle-cli-osx-solved/15457/7

[2015-09-14 07:26] kennethlimcp commented on #176
PR already here: https://github.com/spark/docs/pull/162

[2015-09-14 07:52] kasperkamperman commented on #176
Ok. I will close this one then. Thanks.

[2015-09-14 07:52] #176 closed, assigned to nobody

[2015-09-14 15:23] dmiddlecamp commented on #173
lets ping the expert @jme783

[2015-09-14 15:34] #129 closed, assigned to nobody

[2015-09-15 02:58] technobly opened #177 "Relay Shield example hookup diagram needs clarification/warning"
Diagram needs to point out that the HOT lead is the one that needs to be switched, and the user should be sure to use a polarized plug to ensure it stays this way.

See conversation here:
https://community.particle.io/t/confirm-relay-shield-sample-image/15521

---

**EDIT:**  We should also add some general purpose warning and disclaimer in the relay shield docs.  That is, a nice and **SCARY** 🔥

[2015-09-15 12:56] ScruffR commented on #177
And don't rely on color coding!
As the discussion shows - other parts of the world have completely different color codes.
e.g. Central Europe (hot black, switchetd hot black/brown/..., neutral blue, ground yellow-green)
Germany, Austria and a bunch of others only have symmetric plugs, so you'll never be sure if you've got the hot or the neutral switched.

Another color issue on the Relay Shield wi

[2015-09-15 14:30] kennethlimcp opened #179 "Document available commands in Listening mode"
Community conversation: https://community.particle.io/t/no-cores-found-cant-connect-to-spark-core/15278/11

Available here: https://github.com/spark/firmware/blob/dfa56424014eaf28a43ebeadbd11a80f646de7ae/system/src/system_setup.cpp#L78

[2015-09-15 14:43] m-mcgowan commented on #179
I can describe the commands briefly here if someone wants to write up:
- 'i' : fetch the device ID. same as particle serial identify
- 'w': begin wifi configuration, similar to particle serial wifi
- 'm': display the MAC address (note does not work on unboxed photons unless they have firmware updated manually, e.g.via `particle update`)
- 's': display system information (again, not available unbox

[2015-09-15 21:32] m-mcgowan commented on #101
This has recently come up in the forum.

https://community.particle.io/t/using-serial2-results-in-undefined-behaviour/15545/4

I think it's best we simply state that Serial2 isn't available on the photon until there is a way to disable the default LED pins.

[2015-09-15 22:34] technobly commented on #101
@m-mcgowan I was able to use Serial2 with the Photon without disabling the system LED (RGB.control(false)), but the 1k ohm series resistors on the BLUE and GREEN segments of the RGB need to be removed.  Otherwise, the TX will feed back into the RX pin.  Super weird, but it makes sense because LEDs can receive light and convert that light into a current, just the same way they can generate light wh

[2015-09-16 00:12] kennethlimcp commented on #179
@cmsunu28 where does this possibly go?

[2015-09-16 00:17] cmsunu28 commented on #179
Maybe in guide/tools or support

I have actually never used this so it's hard for me to scope it. It seems like this should be a secondary method in the case that you can't connect with phone or cli in the typical way.

Do you want to outline it as a PR on the support page of docs as an article under "troubleshooting" and I'll take a look?

[2015-09-16 00:19] kennethlimcp commented on #179
It's a feature of the Photon/Electron/Core so i am thinking where people would want to read about this.

Questions like:
- What is my system firmware?
- What is my mac address?
- Can i see more system info?

[2015-09-16 00:22] kennethlimcp opened #180 "Extract firmware file name example"
This is a great example on how someone can extract the filename of the `xxxx.cpp` flashed to the particular device!

https://community.particle.io/t/particle-constant-for-current-running-application-name/15572/6

[2015-09-16 00:29] kennethlimcp commented on #180
[code]

[2015-09-16 00:34] cmsunu28 commented on #179
I'm thinking we should add a FAQ to the support section of the docs. It could go there. What do you think?

[2015-09-16 00:37] kennethlimcp commented on #179
Yeah that would be good. We should start a conversation since I had a building list of glossary of items that _should_ enter the docs but haven't found a good place to fit each of them with good flow when reading

[2015-09-16 01:30] m-mcgowan commented on #180
What does pgmVersion evaluate to? It looks like the filename, so perhaps the variable could be called `appname` instead?

You might also want to advise users to create a version variable that they increment with each change, or alternatively use the built-in **DATE** and **TIME** macros:

[code]

[2015-09-16 04:34] kennethlimcp commented on #180
@m-mcgowan that's great! Just wanted to open an issue to keep the conversation going so i think the Date and Time method would be good :)

[code]

[2015-09-16 12:22] kennethlimcp opened #181 "Unable to {{#if photon}} in popup"
So i am trying to update the incorrect Wifi credential count for Photon and i cannot seem to do it:

<img width="761" alt="screen shot 2015-09-16 at 20 21 14" src="https://cloud.githubusercontent.com/assets/6760914/9904474/931ad998-5cb0-11e5-97b8-6c631e3286bb.png">

Here: https://github.com/spark/docs/blob/master/src/content/guide/getting-started/start.md#step-2-connect-with-your-smartphone

[2015-09-16 12:31] kennethlimcp commented on #80
Closing this since it has made it to the docs: https://docs.particle.io/reference/firmware/photon/#spark-unsubscribe-

[2015-09-16 12:36] kennethlimcp opened #182 "Screenshot for mobile app usage"
This should show some screenshots on what the user _should_ be seeing instead of just a bunch of description.

https://docs.particle.io/guide/getting-started/start/photon/#step-2-connect-with-your-smartphone

Related: https://github.com/spark/docs/issues/86

[2015-09-16 12:37] #80 closed, assigned to nobody

[2015-09-16 12:41] kennethlimcp commented on #38
@m-mcgowan, can you tell me if the above code is good to go? Then i will figure out where it goes

[2015-09-16 12:41] kennethlimcp commented on #18
@cmsunu28 , i will close this if you don't need this list anymore? Let me know?

[2015-09-16 12:42] kennethlimcp commented on #79
Closing this since it cannot be updated from this docs

[2015-09-16 12:42] #79 closed, assigned to nobody

[2015-09-16 12:45] kennethlimcp commented on #82
@m-mcgowan, can you confirm this as per V0.4.5? I will fit it under datasheet/memory map

[2015-09-16 12:45] pkourany commented on #38
@kennethlimcp, one member and @bkobkobko tested the code and it is NOT working it seems.

https://community.particle.io/t/can-i-start-mirroring-the-led-color-to-my-own-led/15417/13

[2015-09-16 12:47] pkourany commented on #82
Is it possible to add the SRAM map showing the VBAT backed area?

[2015-09-16 12:53] bkobkobko commented on #38
I have to retract my statement--I was trying to use D7 with LED and analogWrite() and those two don't play nice together.

[2015-09-16 12:55] pkourany commented on #38
@bkobkobko, the member still has issues with the LEDs nonetheless.

[2015-09-16 16:35] kennethlimcp commented on #38
by @wgbartley : https://community.particle.io/t/can-i-start-mirroring-the-led-color-to-my-own-led/15417/17

[code]

[2015-09-16 16:44] jme783 commented on #181
While I can't deep dive into this immediately, I will say that device-conditionals will not work inside these popups, as they are inserted at run-time with client-side JS, and not pre-compiled at build time.

I would instead try to create two separate popups, one for the Core and one for the Photon. By placing the device conditionals _outside_ of the popup, you will be able to achieve the result y

[2015-09-16 16:45] kennethlimcp commented on #181
:+1:

[2015-09-16 16:54] kennethlimcp commented on #181
Closing, fixed with: https://github.com/spark/docs/commit/63387d8c61bdf5b7f863452041e2153f631deb08

[2015-09-16 16:54] #181 closed, assigned to nobody

[2015-09-17 03:44] kennethlimcp opened #183 "SPI/SPI1 pins on Photon hard to understand"
Users have to look at the Pin-out diagram which says `SPI1` and `SPI3` and they have problem looking at the key legend on match the correct pins. (The colours are too close and the names are causing confusion since in firmware it is SPI/SPI1 and in hardware label it is SPI1/SPI3)

We need an updated pin-out map that labels the JTAG, SPI, SPI1, TX/RX if they are missing...

See: https://community.p

[2015-09-18 01:55] m-mcgowan commented on #82
If users are using the `retained` modifier that I added, then you don't really need to know where the backup SRAM is, just use it!

The details above are correct, but I wouldn't publish the DCT region in that format - only pick out the critical details, such as device keys, SSID prefix, device_id (which is a 6 character random code.) Plase also mention that writing 0xFF to offset 34 will cause the

[2015-09-18 01:55] kennethlimcp commented on #82
:+1:

[2015-09-18 02:04] m-mcgowan commented on #180
Close, but no cigar! ^^ that example will fail - the buffer passed to Particle.variable() will go out of scope when setup is exited, resulting in garbage for the variable value.  Either use only the predefined constants as I did in my example, or move the buffer to global scope.

[2015-09-18 02:05] kennethlimcp commented on #180
Hehe. the funny thing is the community user used that code above and worked...

[2015-09-18 15:47] dougalcampbell commented on #183
I've put in a Pull Request to help clarify the docs: #184

[2015-09-19 07:54] ScruffR opened #186 "Add a section to "Web IDE (Build)" of how to use library examples"
It's described how to add a library to own project, but usually I (and I guess others too) test out the lib first before adding it to a new project.

[2015-09-19 13:25] kennethlimcp opened #187 "Re-word `analogWrite()` notes"
This doesn't make any sense to a basic user like me:

[code]

[2015-09-22 11:14] sixerdoodle opened #188 "No references to Python need"
Node.js requires that some version of Python is installed first.  That requirement isn't obvious from the existing docs and there are version issues.  Python 3.5 won't work, have to use 2.7

[2015-09-23 00:01] kennethlimcp commented on #188
@sixerdoodle i am trying to recall why python is required. I think it will be the `node-serialport` package for CLI. Are you referring to CLI installation steps?

[2015-09-23 00:45] wgbartley commented on #188
One of the dependencies relies on node-gyp which requires Python.  I'm not in front of a computer at the moment to double-check, but I'm betting it's the serial port package that needs to be compiled/built using node-gyp for the various platforms.

Sent from my iPhone.

[2015-09-23 01:52] sixerdoodle commented on #188
yes, "npm install -g particle-cli" requires python.  tried Python 3.5 first and it was better, but still busted  had to go back to Python 2.7.  Then the serial port package requires older Node.js

[2015-09-24 02:28] kennethlimcp commented on #157
Another datum: https://community.particle.io/t/getting-started-with-the-maker-kit-oled-how-to/15897

[2015-09-24 17:20] #317 closed

[2015-09-24 17:21] #300 closed

[2015-09-25 03:54] m-mcgowan commented on #317
I recently removed the wakeup pin in the Core since it was preventing A0 from being used as a regular digital GPIO.  We can re-instate when there is time to investigate!

[2015-09-25 04:04] m-mcgowan commented on #82
So where can we put this in the docs? For the core, it goes in the datasheet section. since that's not generally editable for the photon we need another section?

[2015-09-30 19:58] cmsunu28 commented on #165
OK going through these, rewriting as check-offable things:
- [x] Cloud public key download link: I think this should go in troubleshooting which is a whole pending update, as we talked about previously
- [ ] Unlocker/locker bin: Created a section for this content in https://github.com/spark/docs/tree/feature/fundamentals
- [x] RGB led colors: this is currently in both troubleshooting and modes: ht

[2015-10-01 08:50] m-mcgowan opened #192 "Firmware documentation can contain functions with the same name"
To the lords of the documentation.

Currently in firmware we have several functions with the same name in the documentation.

For example, begin(), end() and format() - these functions appear in several libraries  Currently, the search results only shows one occurrence. Ideally it should show each occurrence,  plus the section that it appears in.

Alternatively, we can prefix each function with th

[2015-10-05 02:34] technobly commented on #51
Closing since this is in the Docs now:
https://docs.particle.io/reference/firmware/photon/#preprocessor

[2015-10-05 02:34] #51 closed, assigned to nobody

[2015-10-06 18:34] technobly opened #200 "RGB.onChange() needs 1ms realtime usage warning"
Reference this testing:
https://github.com/spark/firmware/issues/673#issuecomment-145930122

https://docs.particle.io/reference/firmware/photon/#onchange-handler-

Note to add to docs:

Some examples to add to Docs.

This is also a good minimal example:

[code]

This is a better example that uses less realtime in the onChange() handler:

[code]

[2015-10-07 23:51] kennethlimcp opened #203 "String.format() example not working"
I copied and paste the example from: https://docs.particle.io/reference/firmware/photon/#format- and it failed to compile for me

[2015-10-08 09:01] ScruffR opened #205 "Rework for System.sleep() needed"
As pointed out in this firmware isse
https://github.com/spark/firmware/issues/655

And also asked by a member here
https://community.particle.io/t/photon-sleep-protocol/16345

Some things could do with clarification.

[2015-10-12 11:58] kennethlimcp opened #207 "PIR sensor Datasheet is in chinese"
Someone really needs to write information about the PIR like how to set the L/H instead of providing a chinese datasheet that not many can read:

https://docs.particle.io/datasheets/photon-shields/#pir-sensor-1-

https://docs.particle.io/assets/datasheets/makerkit/pir-sensor.pdf

[2015-10-12 12:18] ericyuanyong commented on #207
It can be a problem if this guy did not have much experience on this sensor, In fact, the voltage on the output pin will change from Low to high when it detect the human body and it will be constant high for a defined time(which can be changed by changing the value of potentiometer) after it cannot detect human body.then, it will go back to low. In short, it will go to high instantly after it dete

[2015-10-12 20:28] m-mcgowan commented on #82
It seems we're kinda stuck here - I love to see some forward motion - waiting for the next big datasheet update doesn't feel very agile! ;-)  I think for now I'll add this to the reference section of the Photon docs.

I realize this is inconsistent with the Core, but at least it gets the information published now and we can re-position it to somewhere more optimal (e.g. the datasheet) when that is

[2015-10-12 20:34] towynlin commented on #82
Agreed — we have the memory map in hand and just need to show it to people. We should not make people wait for this.

I'd advocate for adding the memory map to https://docs.particle.io/datasheets/photon-datasheet/ without the rest of the datasheet updates, so that the URL is consistent with the Core. Any reason I'm missing why we can't do that?

Also, make sure searching for "memory map" in the do

[2015-10-12 20:42] m-mcgowan commented on #82
I was thinking the datasheet was some externally maintained file, but see it's right there in the docs repo. So I can add it to the datasheet.  I'll submit a PR for Brett to review when he's back in the office.

[2015-10-12 21:19] cmsunu28 commented on #161
Hiya! Was looking into this again today, I am keeping this issue open so that we make sure we create guide/reference content for the programmer shield.

[2015-10-19 00:40] kennethlimcp opened #212 "Power shield mention Lipo mAh"
I checked up the design of the Power shield schematics of v210 and:
- Charging current set to 500mA in USB more and 1A in DC mode
- Jumper pad of I2 makes it hard for a user to alternative between 100mA/500mA setting since the ISET2 pins need to be grounded to enable a 100mA. i.e. The jumper pad doesn't really serve a purpose here.

We also need to mention that the power shield required a minimum

[2015-10-19 08:02] umcsdon commented on #147
@kennethlimcp

[2015-10-20 09:01] m-mcgowan opened #215 "firmware docs 0.4.7"
- [x] Particle.variable supports `String`s
- [x] Particle.variable 3rd parameter optional
- [x] Particle.variable & not required
- [x] Software Timers - https://github.com/spark/firmware/blob/develop/wiring/inc/spark_wiring_timer.h
- [x] pulseIn
- [x] WiFi.dnsServerIP / WiFi.dhcpServerIP
- [x] serialEvent(), serialEvent1() etc..
- [x] System.version()
- [x] OTA update control and events (stubbed o

[2015-10-20 13:54] technobly commented on #215
- [x] Backup RAM: https://github.com/spark/docs/pull/196

[2015-10-22 22:05] dseemakurty commented on #101
If I am understanding this correctly, in order to use the Serial 2 on the photon:
1. Remove the 1k ohm resistors on Blue on Green Segment
2. Connect to Blue and Green pads on bottom of photon
3. Include Serial2.h and initialize Serial2 to override the RGB

And if we want the RGB LED's back, we must utilize the RGB onChange handler to move the Blue and Green segments to 2 other PWM pins? (could we

[2015-10-24 19:32] technobly commented on #101
Yes that's correct @dseemakurty, please see the docs here:
https://docs.particle.io/reference/firmware/photon/#serial

[2015-10-24 19:32] #101 closed, assigned to nobody

[2015-10-30 20:27] embedded-creations opened #220 "Arrows overlap with content - hard to select text/code to copy"
At certain browser widths, the left/right (previous/next) arrows overlap the content, and it's difficult to select text or code as anything behind the arrow can't be selected with the cursor.
![particle_guides__formerly_spark____webhooks](https://cloud.githubusercontent.com/assets/1514796/10857172/e627e63c-7f22-11e5-9327-ce5aea668029.png)

[2015-11-05 12:17] embedded-creations opened #221 "Conflicting information on Android SDK availability?"
https://docs.particle.io/guide/how-to-build-a-product/mobile-app/ says
"Particle Android SDKs: Cloud SDK (coming soon) and Device Setup library (coming soon)" at the top, but has links to GitHub repos at the bottom.  Are these pre-release and not recommended, or is the info at the top out of date?

[2015-11-05 12:43] embedded-creations opened #222 "Internet Button BOM?"
Is it possible to include the BOM for the Internet Button here like you do for the Photon Datasheet?
https://docs.particle.io/datasheets/photon-shields/

Specifically I'd like to know the SMT female headers used to connect the Photon to the board.  I think this is great design, allowing for low-profile mounting of the Photon without requiring soldering.  I plan to use this for Photon shields I'm g

[2015-11-05 12:57] embedded-creations opened #223 "Photon Datasheet missing test point description"
The test points aren't described anywhere that I could find, I had to open the PCB design in Eagle to find that information.  The setup button and RGB LED are required to be user accessible, and that means using the test points if the Photon needs to be protected in the design, so I think these are especially important to include in the data sheet.

https://docs.particle.io/datasheets/photon-datas

[2015-11-05 14:06] technobly commented on #223
I'll make a note to add more of a description for test points, but for future reference they are numbered here:
![](https://docs.particle.io/assets/images/photon-pinout3.png)

And located here on the right side:
![](https://docs.particle.io/assets/images/photon_land_pattern_without_headers.png)

Thanks!

[2015-11-05 14:15] embedded-creations commented on #223
Cool, I totally missed that info.  I was searching for "test" "smd" "bottom" and "button" which didn't pull up anything. "Button" is only in the pinout image.  Maybe give a caption to the pinout table image that says "SMD Test Points on Bottom of Photon PCB" or something like that?

You could add some of those keywords to this sentence too: "Photon Pin #25-31 are described in the Pin Out Diagrams.

[2015-11-05 16:22] jenesaisdiq commented on #222
Hey, thanks @embedded-creations! We usually put up a repo with the EAGLEs and BOMs but haven't had the time to clean up and release the photon-shields one yet. I can, however, answer your question! Those headers took me forever to figure out, and the ones are on the board are 3M 966224-2000-AR-PR. They're Really Pricey. I believe 4Ucon has a compatible part, and you'd hope for cheaper. I also have

[2015-11-05 21:08] jensck commented on #221
Thanks for the heads-up @embedded-creations !  The Android SDKs are live; those links just needed to be updated.

As for the status of the SDKs, they're stable and usable -- that very same code is what powers the production Particle setup app right now.  Technically I've still labelled them "beta" though, because there are a few remaining features where they currently lag behind iOS (e.g.: alterna

[2015-11-05 21:48] embedded-creations commented on #222
You weren't kidding on the price!  Did you select that part for the height (tall enough to capture the Photon pins) or some other reason?  I was actually expecting some Chinese supplier number that would be hard to source, I was surprised to find it was 3M.  4U's part is shorter, and I asked for samples from my Chinese manufacturer (NOA Labs) and they found some that are 5mm like the 3M part, I ca

[2015-11-05 21:51] jenesaisdiq commented on #222
Sure, I'd love to hear how well they work for you! 3M was mainly because we were on a tight deadline and I could both source them from Digikey to test and in China for production. The height's not too big a deal, shorter should work even better for rear entry.

[2015-11-05 21:55] embedded-creations commented on #222
Any concerns on alignment during placement and reflow?  I could see the Photon not inserting easily if the PCB holes and socket weren't aligned well.  You sell the Internet Button with a Photon attached, so that would be caught, but I will likely sell shields without a Photon and just pogo pin tests which wouldn't carefully check for alignment.

[2015-11-05 21:58] jenesaisdiq commented on #222
That was my biggest concern, actually. So far it hasn't been a problem, and I haven't heard about high rejection rates. Surface tension makes things align surprisingly well.

[2015-11-05 22:00] embedded-creations commented on #222
Thanks for the info, I'll share my info hopefully next week.  Feel free to close this issue if you want, I'll find you in the Community.

[2015-11-06 01:42] #221 closed, assigned to nobody

[2015-11-11 15:31] monkbroc opened #225 "Docs Javascript performance issue"
I'm seeing large slowdowns when navigating the firmware reference docs on Chrome desktop (may apply to other browsers too).

Clicking a link on the left nav runs Javascript for ~30 seconds, freezing the browser window.

inview.createWaypoint is running for that whole time.

Steps to reproduce:
1. Open https://docs.particle.io/reference/firmware/photon/
2. Wait for the page to be fully loaded
3. Ex

[2015-11-18 19:38] innermatrix opened #229 "Runtime constraints on SPI DMA callback not documented"
I want to use the DMA variant of SPI transfer() function, but I am not sure what runtime constraints are imposed on the callback. Does it behave like an interrupt handler? Does it behave like normal code? Does it run from Particle.process()? Does it run on the system thread or the user thread?

[2015-11-21 07:27] gbrault commented on #82
And actually where can I find the Memory map reference for photon? I am interested to understand how much memory is left for the user: Flash and RAM ...

[2015-11-25 13:39] embedded-creations opened #235 "Improve links between examples and docs"
I'm going through docs from the perspective of a beginner Photon user (I'm writing some tutorials) and have so far found two broken links in example code and submitted pull requests.  There's got to be a less fragile way of putting links to documentation in the examples.

Here's an idea: don't use full URLs in the examples, but short URLs that redirect to the actual docs URL (e.g. what you already

[2015-11-26 01:13] towynlin opened #237 "Searching for "sleep" should include System.sleep() as result"
First search result for "sleep" should probably be:
https://docs.particle.io/reference/firmware/photon/#system-sleep-

Currently that is not one of the 5 results.

[2015-11-28 00:14] kennethlimcp opened #239 "Access token default expiry"
The current docs does not mention the default expiry period for a newly generated access token...

[2015-11-28 00:14] kennethlimcp commented on #229
This might be a question for https://community.particle.io or https://github.com/spark/firmware

[2015-11-28 00:14] #229 closed, assigned to nobody

[2015-11-28 00:17] #188 closed, assigned to nobody

[2015-11-28 00:18] #66 closed, assigned to nobody

[2015-11-28 03:44] innermatrix commented on #229
[I asked it there and got an answer](https://community.particle.io/t/runtime-constraints-on-spi-dma-callback/17595), but the fact that this is missing from documentation is still a bug.

[2015-11-30 10:16] kennethlimcp commented on #82
@gbrault the Web IDE tells you that.. Same goes using Particle Dev or every building it locally.

For Web IDE: https://docs.particle.io/guide/getting-started/build/photon/#checking-code-memory-usage

[2015-11-30 23:35] towynlin commented on #237
Thank you @chobberoni! Solved in 5aa0ba4a. Confirmed the search works on the public documentation. :+1:

[2015-11-30 23:35] #237 closed, assigned to nobody

[2015-12-04 15:23] dmiddlecamp opened #243 "add api reference for webhooks endpoints"

[2015-12-08 13:05] kennethlimcp opened #245 "Add Arduino Stream docs"
Missing from the docs.. https://www.arduino.cc/en/Reference/Stream

[2015-12-08 13:05] #222 closed, assigned to nobody

[2015-12-08 13:06] #203 closed, assigned to nobody

[2015-12-08 15:02] pkourany commented on #245
Done!

[2015-12-08 15:02] #245 closed, assigned to nobody

[2015-12-08 19:28] monkbroc opened #246 "Document Thread and CriticalSection"
The `Thread("label", handler)` way of starting a user thread and the `CriticalSection cs` helper are not documented in the firmware reference. This causes confusion when people see these discussed on the forum but can't find more details in the docs.

[2015-12-09 00:49] m-mcgowan commented on #246
This is somewhat intentional - the thread API has not been finalized, but is a work in progress. I would like to review the API and set out all envisaged threading constructs before documenting it.

[2015-12-12 00:16] m-mcgowan opened #247 "As a firmware developer, I'd like to know what resources are used by the system"
Documentation for which resources are used by our system firmware, and when would be useful for firmware developers that are talking to the bare metal directly.
- flash memory use
- SRAM memory use
- peripherals (e.g.. Timers, GPIOs.)
- etc..

[2015-12-13 21:42] rhyde opened #248 "Problem with instructions to reset the keys on your device"
If you haven't ever claimed the device before: You will need dfu-util. Install it, then download the this file. Use the command line to navigate to that file. Run the following command: dfu-util -d 2b04:d006 -a 1 -s 2082 -D cloud_public.der This should reset your public key.
If you claimed the device previously: You need the CLI. Once it is installed, run: particle keys server cloud_public.der par

[2015-12-14 01:21] kennethlimcp commented on #248
This is more like a problem with the CLI and not the docs.

Anyways, can you place the device in Safe mode?

[2015-12-14 02:49] rhyde commented on #248
Not sure how to do that.  It is stuck solid magenta
On Dec 13, 2015 5:21 PM, "Kenneth Lim" notifications@github.com wrote:

[2015-12-14 02:50] kennethlimcp commented on #248
https://docs.particle.io/guide/getting-started/modes/photon/#safe-mode

[2015-12-14 17:40] monkbroc opened #249 "Document System.set"
`HAL_Set_System_Config` and `System.set` are not documented yet. I had to dig through the firmware source code to find out how to set the prefix for the SoftAP SSID.

`System.set(SYSTEM_CONFIG_SOFTAP_PREFIX, "Gizmo");`

[2015-12-15 05:14] kennethlimcp commented on #249
Firmware reference here: https://github.com/spark/firmware/blob/aefb3342ed50314e502fc792f673af7a74f536f9/hal/src/stm32f2xx/ota_flash_hal_stm32f2xx.cpp#L326

[2015-12-15 05:15] kennethlimcp commented on #248
@rhyde looking at it again, you did not specify a deviceID which is the reason why it failed.

https://github.com/spark/particle-cli#particle-keys-send

Closing this :)

[2015-12-15 05:15] #248 closed, assigned to nobody

[2015-12-15 05:16] kennethlimcp commented on #243
@dmiddlecamp this should be filed under `api-node`?

[2015-12-15 05:19] dmiddlecamp commented on #243
like, as a label for the issue?  or do you mean in a different repo?

[2015-12-15 05:19] kennethlimcp commented on #243
different repo since i'm unable to add/edit that in this repo. The content doesn't live in here (i think)

[2015-12-16 14:12] monkbroc opened #251 "Document Cloud API /v1/binaries"
The endpoint for compiling and downloading firmware binaries is not documented.

[Usage in CLI](https://github.com/spark/particle-cli/blob/2d0fa554bfb9c98e64855373a74e279a9c9e6634/lib/ApiClient.js#L443)

[2015-12-17 16:39] dmiddlecamp opened #252 "document organizational endpoints"
org product firehose,
where to find org / product slugs, etc.

[2015-12-24 16:58] neauoire opened #253 "Issue installing on OS X"
Typing npm install -g particle-cli
OS X 10.11.3 Beta (15D9c)

[code]

[2015-12-25 00:17] kennethlimcp commented on #253
It was stated in the docs: https://docs.particle.io/guide/tools-and-features/cli/#installing

[code]

For reference: https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2015-12-25 00:17] #253 closed, assigned to nobody

[2015-12-25 22:29] neauoire commented on #253
I'd recommend adding this url as part of the getting started url.
https://docs.particle.io/guide/getting-started/connect/core/#using-osx

[2015-12-28 05:10] harrisonhjones opened #254 "Shield Shield Pin Mapping Incorrect"
The D0 and D1 indicators on the pin mapping image (see https://docs.particle.io/assets/images/shields/shield-shield/shield-shield-pinmapping.png) are swapped incorrectly (noticed that SDA and SCL do not line up between the on-board markings and the off-board markings). The off-board markings are incorrect and should be swapped.

[2016-01-14 06:29] brycekahle opened #265 "Document CLI `particle update`"

[2016-01-15 18:02] m-mcgowan opened #267 "Firmware docs 0.4.9"
Threading
- [x] - delay()/Particle.process() now required in app loop to process app messages
- [x] - Critical section primitives
- [x] - non-blocking listen mode and OTA

General
- [x] - system events
- [x] - Serial.availableForWrite()/Serial.blockOnOverflow() functions
- [x] - attachInterrupt() configurable priority
- [x] - version comment on alaogWrite(DAC)  0.4.6-0.4.7 - pinMode() only require

[2016-01-22 18:14] m-mcgowan opened #270 "Searching for "CAN" doesn't display any results"
With the 0.4.9 docs, we added a CAN section.

Searching for CAN doesn't show any results. Searching for "CAN b" shows "CAN".

Other TLAs, like "SPI", and "I2C" seem to work as expected, so it's just CAN that the docs can't.

[2016-01-22 18:41] m-mcgowan opened #271 "Firmware docs v0.4.8-rc.6 (Electron)"
v0.4.8-rc.6 MFG Release
- [x] Cellular API [BW]
- [x] PMIC [BW] [stubbed out, opting not to fill this all out completely for now]
- [ ] PMIC [BW] add notes to [setChargeVoltage](https://docs.particle.io/reference/firmware/electron/#setchargevoltage-) to explain what the default charge termination voltage is, and why it's set a bit low.  This is for safety in case charging in higher temps, and can

[2016-01-22 18:48] technobly commented on #271
Make sure these get updated...
<s>`The Photon and Electron support true analog output`

`The Photon and Electron support communicating with CAN devices via the CAN bus.`</s> **DONE!**

[2016-01-22 19:46] dmiddlecamp opened #272 "update device_claims ref to indicate variable claim_code size"
says 64 bytes, is often 63, could change.  Should we say 63-128 bytes?

[2016-01-26 18:02] mohitbhoite opened #274 "Add power consumption parameters for Electron"

[2016-01-26 18:19] mohitbhoite opened #275 "document 3V3 - VBAT jumper mod for Electron"

[2016-01-26 20:20] technobly commented on #270
My guess was CAN is probably is in some basic word filter list, to avoid generating too many results.  As a stopgap, I added the heading CAN (CANbus) so users can at least search for CANbus and find it.

[2016-01-29 02:46] bkobkobko opened #278 "Curl command for pre-compiled binary is not correct"
In this area:
https://docs.particle.io/reference/api/#flash-a-device-with-a-pre-compiled-binary

The command given to send a pre-compiled bin file over-the-air to a device is not correct.  In particular the -F option does not work with the access_token.  You either have add the token to the URL or use the `-H "Authorization: Bearer 1234"`.  Somehow the doc for this command was changed from the old

[2016-01-30 23:59] kennethlimcp commented on #278
@bkobkobko we do not have access to this change since it's in another private repo so someone from Particle will need to take care of this

[2016-02-09 06:24] #55 closed, assigned to nobody

[2016-02-09 06:25] #96 closed, assigned to nobody

[2016-02-09 06:26] #93 closed, assigned to nobody

[2016-02-09 06:26] #86 closed, assigned to nobody

[2016-02-09 06:27] #207 closed, assigned to nobody

[2016-02-09 06:28] #212 closed, assigned to nobody

[2016-02-09 06:28] #182 closed, assigned to nobody

[2016-02-09 06:28] #180 closed, assigned to nobody

[2016-02-09 06:29] #161 closed, assigned to nobody

[2016-02-09 06:29] #165 closed, assigned to nobody

[2016-02-09 06:29] #152 closed, assigned to mohitbhoite

[2016-02-09 06:30] #41 closed, assigned to nobody

[2016-02-09 06:31] #187 closed, assigned to nobody

[2016-02-09 06:32] #183 closed, assigned to nobody

[2016-02-12 20:15] #225 closed, assigned to nobody

[2016-02-12 22:49] #147 closed, assigned to nobody

[2016-02-13 13:41] monkbroc opened #289 "Docs search broken in production"
The search opens URLS without hash so you get https://docs.particle.io/reference/firmware/electron/sleep-sleep- instead of https://docs.particle.io/reference/firmware/electron/#sleep-sleep-

This is the result of clicking on any search result in the docs today:
![image](https://cloud.githubusercontent.com/assets/1919681/13027896/768f4532-d22d-11e5-805d-afb0c48eceb4.png)

Probably due to 4bf4cd2087

[2016-02-13 14:16] m-mcgowan commented on #289
I've reverted that commit and tested locally, with both h1 and h2 links, and the result seems good, so bumped metalsmith-lunr to 0.2.3 and added this as a dependency to the docs module.

[2016-02-13 15:28] monkbroc commented on #289
Thanks for the quick fix Mat!

[2016-02-13 15:28] #289 closed, assigned to nobody

[2016-02-17 19:20] dmiddlecamp opened #291 "common LED Codes links?"
Could we link the LED error codes to their respective troubleshooting guides?

https://docs.particle.io/support/troubleshooting/troubleshooting-support/photon/#error-codes

[2016-02-17 19:45] wgbartley commented on #291
Might this also cover the SOS codes?

https://docs.particle.io/guide/getting-started/modes/core/#red-flash-sos

[2016-02-17 19:46] jenesaisdiq commented on #291
Yeah, it'd be great if someone could write out the common causes of SOS codes. I can look up what they are, but don't really know how to fix them.

[2016-02-18 05:28] faquin opened #293 "Wrong version in doc "Common Issue""
The document related to Common Issue mentions the following lines:

Flash part1: dfu-util -d 2b04:d006 -a 0 -s 0x8020000 -D system-part1-**0.4.6**-photon.bin
Flash part2, unit should still be blinking yellow: dfu-util -d 2b04:d006 -a 0 -s 0x8060000:leave -D system-part2-**0.4.6**-photon.bin

0.4.6 is not more a version you would want to flash to your firmware, and it can cause confusion to new use

[2016-02-18 07:27] kennethlimcp commented on #293
@faquin, agree. Fixed here: https://github.com/spark/docs/commit/182bf4642c8e3994de02910ef5f6f831b9f03680.

Thanks!

[2016-02-18 07:27] #293 closed, assigned to nobody

[2016-02-18 15:47] wgbartley commented on #291
Direct link for reference -- https://docs.particle.io/guide/getting-started/modes/photon/#red-flash-sos

My favorite part is when a device will power on, flash an SOS code, restart, and then work normally all before even connecting to the cloud (which makes me think it's not user code).  Pretty confusing, so some extra descriptions and/or possible troubleshooting steps would be super helpful

[2016-02-19 21:20] towynlin opened #297 "Table in System Events should flow with smaller windows"
On my mac laptop with a chrome window taking up almost the entire screen, the table in the [system events section of the firmware reference](https://docs.particle.io/reference/firmware/electron/#system-events) gets cut off. All the content is mostly there — it's just that it seems visually cut off without some margin/padding.

![screen shot 2016-02-19 at 1 17 01 pm](https://cloud.githubusercontent

[2016-02-21 23:14] legoadk opened #301 "Cloud API "Get Device Information" is out-of-date"
In the Cloud API, the "[Get Device Information](https://docs.particle.io/reference/api/#get-device-information)" section appears to be out of date.

There are several undocumented attributes that the API currently returns:

last_ip_address
product_id<sup>1</sup>
platform_id
cellular
status
pinned_build_target

<sup>1</sup> product_id _is_ documented, but is missing information relating to the Elec

[2016-02-24 21:31] technobly commented on #19
When I edit the main post such as right now, I will add a new comment here for visibility.  I'm also updating all datasheets to point back to this known errata today.

[2016-02-28 03:16] technobly commented on #19
Just changed this info in the P1 Datasheet Errata (SETUP -> RESET).

From:

[code]

To:

[code]

[2016-02-29 21:41] technobly commented on #271
Added a new requirement above:
`PMIC [BW] add notes to setChargeVoltage`

[2016-03-02 09:34] kennethlimcp opened #304 "number of var/func is out dated"
It's stated here:

[code]

https://docs.particle.io/reference/firmware/electron/#particle-function-

But the thread says:

[code]

http://community.particle.io/t/can-you-change-how-many-web-functions-variables-you-can-register/20635/6

[2016-03-03 00:42] kennethlimcp opened #305 "attachInterrupt() should return bool"
[code]

http://community.particle.io/t/function-attachinterrupt-returns-value/20678

Code: https://github.com/spark/firmware/blob/5cf2c7e268cbea1ce78d7640d96801f06c6566ae/wiring/inc/spark_wiring_interrupts.h#L41

[2016-03-03 06:29] kennethlimcp commented on #305
fixed: https://github.com/spark/docs/commit/a2c278285237928e867e610e78dbfdb54eb35bd3

[2016-03-03 06:29] #305 closed, assigned to nobody

[2016-03-03 14:21] kennethlimcp opened #306 "Right scroller broken in guide"
Try dragging the scroller on the right... It doesn't change to another cursor for scrolling

http://community.particle.io/t/guides-do-not-scroll/20699

[2016-03-03 15:15] #306 closed, assigned to nobody

[2016-03-08 04:31] technobly commented on #19
Add electrical specification note for Photon/P1/Electron:

[code]

[2016-03-10 01:23] m-mcgowan opened #309 "Firmware docs 0.5.0"
New docs for 0.5.0
- [x] new SOS code for Stack overflow @m-mcgowan
- [x] cellular band API https://github.com/spark/firmware/pull/891 @technobly
- [x] cellular data usage API https://github.com/spark/firmware/pull/866 @technobly
- [x] cellular localIP https://github.com/spark/firmware/pull/850 @technobly
- [x] Serial.availableForWrite() / Serial.blockOnOverrun() https://github.com/spark/firmware/

[2016-03-11 00:04] kennethlimcp opened #310 "Electron Pinout PDF Clarification"
From the community: http://community.particle.io/t/electron-i2c-bus/20941/5

In the docs: https://docs.particle.io/datasheets/electron-datasheet/#pinout-diagram, the PDF has **SCL/SDA** wrongly labeled
https://docs.particle.io/assets/images/electron/illustrations/electron_pinout.pdf

[2016-03-11 00:07] kennethlimcp commented on #19
Electron - pinout pdf needs clarification - https://github.com/spark/docs/issues/310

[2016-03-11 17:15] mohitbhoite commented on #310
@kennethlimcp can you elaborate on the error? Currently the PDF says:
D1 - SCL
D0 - SDA
C5 - SCL
C4 - SDA
which is correct

[2016-03-12 00:23] kennethlimcp commented on #310
@mohitbhoite , not sure which PDF you are referring to but the latest one i get from `master` shows this:

<img width="307" alt="screen shot 2016-03-12 at 08 20 57" src="https://cloud.githubusercontent.com/assets/6760914/13719067/9c94d378-e82b-11e5-8064-072d98778adb.png">

They are offset by one pin...

AH...i think i know why now.... It's hard to tell whether to read the top or bottom label for t

[2016-03-12 03:26] technobly commented on #310
Confirmed the PDF is correct (and I'm still unclear what the PDF was being compared to that was "correctly" labeled as stated in the community post). It is impossible to know when looking only at these pins if the pin is above or below the label. You can look at B0 and C0 for a reference, and also D6 and D7 should be very clear.   From these keys (and the labels on the sides of the headers) it sho

[2016-03-12 07:33] ScruffR commented on #310
One thing I'm not sure about is why there are **two** set of pins when there is only **one** I2C bus and I can't find any indication in the docs to explicitly select which set (as is done for SPI via [`SPI1` or `SPI2` and documented](https://docs.particle.io/reference/firmware/electron/#spi)) - sure the reason is the same as for SPI3 if one set is occupied for other use (e.g. CAN2 for D1) you don'

[2016-03-12 08:38] kennethlimcp commented on #310
@technobly it's probably from this diagram - https://docs.particle.io/reference/firmware/electron/#wire-i2c-

[2016-03-12 15:49] technobly commented on #310
@ScruffR there is an alternate location on the Electron, just in case you need it.  Hmm, I see the documentation is missing!! GAH.  Essentially replace all of your `Wire` calls with `Wire1`.  I'll update the docs, and get rid of that Core image for Electron docs... thanks @kennethlimcp

[2016-03-12 16:52] technobly commented on #310
@ScruffR updated I2C docs: https://github.com/spark/docs/commit/3d87c8e0862c998a0093428f8c67de3b67c16bb9

[2016-03-12 17:11] leo3linbeck commented on #310
So, a quick follow-on question:

Is it OK to use both Wire and Wire1 on the Electron? I have two sensors hardwired with the same I2C address (ugh) but I'm hoping that I can use one on Wire and one on Wire1. Does that make sense? Is that doable?

Cheers,
L3

[2016-03-12 18:35] ScruffR commented on #310
@technobly, now it makes sense :+1:
@leo3linbeck, I'd say not since there is actually only **_one**_ I2C interface which can be mapped to **either** the one **or** the other sets of pins.

[2016-03-12 19:20] leo3linbeck commented on #310
@ScruffR,

I was afraid you'd say that.... I'm going to experiment and if I find anything interesting, I'll report back. Cheers,

L3

[2016-03-12 20:41] ScruffR commented on #310
What sensors are you using?
Could you open a thread on community.particle.io to continue there?

[2016-03-12 21:04] leo3linbeck commented on #310
OK, I'm getting confused, so I'm returning to the font of all Particle wisdom.

Here's my setup:

Two TCS34725 color sensors: SensorA and SensorB. They have identical I2C addresses.
I've connected SensorA to D0 and D1, and SensorB to C4 and C5 on an Electron.

I don't need to use SensorA and SensorB at the same time.

Seems like I should be able to call Wire.begin() on initialize SensorA, take som

[2016-03-12 21:42] leo3linbeck commented on #310
Oh, good idea. I'll move over to community.particle.io. Thx, L3

[2016-03-14 19:22] technobly commented on #19
Electron Datasheet Block Diagram error.

[2016-03-16 11:23] embedded-creations opened #315 "Document curl example for GET /v1/access_tokens"
After much searching of the community I found the URL is: `curl https://api.spark.io/v1/access_tokens -u username:password`

I tried to quickly add this to the source for https://docs.particle.io/reference/api/#list-access-tokens but found the "edit" button goes to api.md which doesn't contain a list access tokens section, it instead might be in api_old.md.  The edit got too complicated and was ta

[2016-03-16 16:14] technobly commented on #271
Updated Sleep Stop mode item for 0.5.x

[2016-03-16 20:11] technobly commented on #19
Changed requirement for update to BT COEX pins section:

[2016-03-17 05:06] #215 closed, assigned to nobody

[2016-03-17 05:06] technobly opened #318 "Expand OTA update control and events section"
https://docs.particle.io/reference/firmware/photon/#ota-updates

[2016-03-17 05:37] technobly commented on #174
System.buttonPushed() documented https://github.com/spark/docs/commit/3c7ed0985632235801a67dfa6ceafb9ea8377135

[2016-03-17 20:42] mohitbhoite commented on #310
[Updated!](https://github.com/spark/docs/commit/64c5c865bfa35503985331e5eea860a1641e0ed1)

[2016-03-17 20:42] #310 closed, assigned to mohitbhoite

[2016-03-17 22:41] hwestbrook opened #321 "Please add documentation that you cannot initialize UDP until after you call Cellular.connect()"
I wasted some pretty good time today trying to diagnose an issue with UDP and Cellular.connect(). Basically you cannot call Udp.begin() until AFTER you are connected to the network.

This seems like a no-brainer, but was not obvious to me, so I wasted a bit of time dealing with the issue. If you could add a little snippet to Udp.begin documentation saying to make sure the internet is connected bef

[2016-03-19 23:45] BracWebb commented on #278
can someone post a correct example of this command here for the time being until the docs are fixed? thanks!

[2016-03-19 23:50] BracWebb commented on #278
nm, got it :) for reference:

[code]

[2016-03-22 03:31] hkmoca commented on #304
I've made the change of this issue in this pull request:

https://github.com/spark/docs/pull/324

[2016-03-22 09:50] ScruffR opened #325 "Clean-up Recommended Operating Conditions Table on Electron Datasheet"
[code]

https://docs.particle.io/datasheets/electron-datasheet/#recommended-operating-conditions-i-class-icon-check-i-

[2016-03-22 09:56] ScruffR opened #326 "Electron Charging LED: But what is the "appropriate firmware command"?"
https://docs.particle.io/datasheets/electron-datasheet/#led-status

[quote]
[2] You can stop this behavior by either plugging in the LiPo battery or by disabling the charging using the **appropriate firmware command**.
[/quote]

https://community.particle.io/t/electron-fast-red-blink-when-vin-connected-without-lipo/20972/

[2016-03-22 22:36] technobly opened #329 "Electron Interrupt Pin Documentation Missing"
The same pins on the Photon will work on the Electron, except for D7 which is restricted to use for an internal interrupt (low battery and PMIC).  The other exceptions are that the B0-B5 and C0-C5 pins are currently undocumented... so if they use those, they may interfere with some D0-D6, A0-A7, etc..

[2016-03-23 21:47] technobly opened #331 "Firmware docs for 0.6.0"
New docs for firmware v0.6.0
- [x] logging categories - https://github.com/spark/firmware/pull/876 @sergeuz

[2016-03-24 04:56] technobly commented on #325
- [x] I believe `Operating Current (Cellular ON, w/powersave)   IIN avg     50  80[4]   mA` is residual from the Photon datasheet.  There is a low power mode of the Electron, but it is not enabled yet and is not called "powersave"... and is also not 50/80mA.
- [x] There are notes 3 - 4 that are missing from this table.

cc: @mohitbhoite

[2016-03-24 08:31] ScruffR commented on #325
Note 2 is also missing

[2016-03-24 13:59] monkbroc opened #332 "Authentication docs has old date"
https://docs.particle.io/guide/how-to-build-a-product/authentication/

Let's update that statement.

[2016-03-24 21:03] embedded-creations opened #333 "Search box goes away on small window widths"
It shouldn't just disappear, it could be moved to the hamburger menu or somewhere else that's accessible.  Also the edit button goes away, though I don't see that as a big deal.

[2016-03-25 14:47] technobly opened #335 "Document WiFi.resolve()"
https://github.com/spark/firmware/issues/91

[code]

[2016-03-25 15:08] technobly opened #336 "Add PRODUCT_ID() and PRODUCT_VERSION() to firmware.md (Reference)"
These should be added to the Macros() section.

There is a very nice explanation here that can also be referenced instead of filling out the firmware.md doc with the same info: https://docs.particle.io/guide/how-to-build-a-product/dashboard/#your-product-id

There is a related issue here: https://github.com/spark/docs/issues/301

[2016-03-28 19:01] gramss commented on #329
what about PB12 ?

[2016-03-28 22:15] hkmoca commented on #332
will be good to change just the year? or the month as well?

[2016-04-03 03:37] brandoaire opened #345 ""Getting Started" hamburger menu disappears in other sections of "The Guide""
If you are not in the "Getting Started" section of the Guide, and navigate to the "Tools and Features" or "How to Build a Product" sections of the Guide, the "Getting Started" navigation items disappear.

You can view this issue by comparing the nav menu between the following URLs:

https://docs.particle.io/guide/getting-started/intro/electron/
vs.
https://docs.particle.io/guide/tools-and-features

[2016-04-05 18:26] joegoggins opened #348 "Document https://api.particle.io rate limits and make recommendations on how to avoid them"
A non-trivial portion of https traffic to https://api.particle.io is due to malfunctioning programs in infinite loops. The cause of failure in most of these client programs appears mostly due to failed access tokens and over use of polling instead of pub/sub to interact with a device.

We should document what the hard and software rate limits are and make app development recommendations for how to

[2016-04-05 18:26] dmiddlecamp commented on #348
👍

[2016-04-06 20:13] monkbroc opened #350 "Consolidate documentation of LED patterns"
Some LED patterns are documented here:
https://docs.particle.io/support/troubleshooting/common-issues/photon/
https://docs.particle.io/guide/getting-started/modes/photon/

Some are not documented:
- Solid magenta: firmware update mode (YMODEM)

Move all LED patterns to a common page (I suggest a new reference page), leaving only a few basic ones in getting started.

[2016-04-06 22:35] idokleinman opened #351 "Flash binary shell command documentation issue"
Details are here
http://community.particle.io/t/flashing-with-access-token-in-request-body-fails/16810

[2016-04-07 18:32] technobly commented on #325
Updated in Electron Datasheet v002: https://docs.particle.io/datasheets/electron-datasheet/#absolute-maximum-ratings-sup-1-sup-i-class-icon-attention-i-

[2016-04-07 18:32] #325 closed, assigned to nobody

[2016-04-11 21:43] technobly opened #354 "Add more guidance for OTA updates when running a multi-threaded application"
Currently all that is said on this topic is here in the SYSTEM_THREAD() section:
https://docs.particle.io/reference/firmware/photon/#system-thread

This is a good fact to know about, but needs more guidance.  Additionally user firmware that continues to run should not do anything that might interrupt an OTA update unintentionally.  Ways to mitigate this are to use the System Event for OTA Updates

[2016-04-13 17:30] technobly commented on #223
Added info to Photon Datasheet v013:

https://docs.particle.io/datasheets/photon-datasheet/#pin-description

https://docs.particle.io/datasheets/photon-datasheet/#recommended-pcb-land-pattern-photon-without-headers-

[2016-04-13 17:30] #223 closed, assigned to nobody

[2016-04-13 17:33] technobly commented on #29
P1S0~P1S5 added to P1 Datasheet v005

https://docs.particle.io/datasheets/p1-datasheet/#pin-description

[2016-04-13 17:33] #29 closed, assigned to nobody

[2016-04-13 17:35] technobly commented on #38
Documented here:
https://docs.particle.io/reference/firmware/photon/#onchange-handler-

[2016-04-13 17:35] #38 closed, assigned to nobody

[2016-04-13 19:36] technobly opened #357 "Add warnings about Data Usage to TCP/UDP libraries for the Electron"
When using a Particle SIM with the Electron, be careful interacting with web hosts with the TCP Client/Server UDP Client/Server libraries.  These can easily chew up a lot of data in a short period of time.  To keep the data usage lite, use the Particle Cloud API (link here) along with Webhooks (link here).

Additionally think about adding a compile time warning when these are used.  It might even

[2016-04-15 01:02] kennethlimcp commented on #82
closing this with: https://docs.particle.io/datasheets/photon-datasheet/#memory-map

[2016-04-15 01:02] #82 closed, assigned to nobody

[2016-04-15 16:43] monkbroc opened #360 "Document CLI compile --target flag"
Document the --target compilation flag for `particle compile`

[2016-04-15 22:09] #90 closed, assigned to nobody

[2016-04-18 16:56] #351 closed, assigned to nobody

[2016-04-18 18:32] monkbroc commented on #345
![image](https://cloud.githubusercontent.com/assets/1919681/14615134/42a5afae-0572-11e6-8a0b-2b10974a814c.png)

[2016-04-18 18:40] #345 closed, assigned to nobody

[2016-04-18 20:23] #335 closed, assigned to nobody

[2016-04-18 21:46] #270 closed, assigned to nobody

[2016-04-19 17:36] technobly opened #367 "Particle.connect() needs to be clarified"
https://docs.particle.io/reference/firmware/photon/#particle-connect-

There is some confusion about how Particle.connect() works, and if it is a blocking call or not.

Docs should be updated to include more examples of use, especially calling Particle.connect() in setup() and also using waitFor(Particle.connected, 30000).
- Particle.connect() only sets a flag, it does not go off and block in a fu

[2016-04-20 19:57] dmiddlecamp opened #371 "clicking on "Lets make some graphs" sends you to IFTTT documentation"
goto: https://docs.particle.io/guide/tools-and-features/webhooks/#lets-make-some-graphs
click on anchor for "lets make some graphs"
you wind up here: "https://docs.particle.io/guide/tools-and-features/ifttt/"

[2016-04-21 00:56] kennethlimcp commented on #371
Actually, all the anchor links shifted by one position...

[2016-04-21 01:04] brycekahle commented on #371
I cannot reproduce this.

[2016-04-21 01:06] kennethlimcp commented on #371
Click on the `Lets make some graphs` header in the main docs area and not the side bar.

[2016-04-21 01:09] brycekahle commented on #371
Still not reproducing. Can you try in an incognito window? I wonder if you have some cached JavaScript.

[2016-04-21 01:11] kennethlimcp commented on #371
i hovered over `Introduction`. See link preview at the bottom left

<img width="1280" alt="screen shot 2016-04-21 at 09 10 51" src="https://cloud.githubusercontent.com/assets/6760914/14695061/063c698c-07a1-11e6-82e3-b1eff273e6a6.png">

[2016-04-21 13:26] monkbroc commented on #371
I also cannot reproduce this. Can you clarify @kennethlimcp or @dmiddlecamp?

Is this the anchor in the main docs area you were referring to? It correctly points to itself.
![make some graphs](https://cloud.githubusercontent.com/assets/1919681/14710362/162e0f9c-07a3-11e6-8026-ae5be6f45bb8.png)

[2016-04-21 14:34] dmiddlecamp commented on #371
hmm, weird. checking.

[2016-04-21 14:36] dmiddlecamp commented on #371
Okay that's super weird, it's back to normal now... Did we re-deploy docs recently?  I don't understand why the link would be broken and now be working again.  I'll try to see if I can reproduce again, but closing this for now.

[2016-04-21 14:36] #371 closed, assigned to nobody

[2016-04-23 00:32] technobly commented on #19
Added an Electron Datasheet v003 list (some carried over from v002)
- How to power the Electron without a battery.
- Describe the usage of the VBAT to 3V3 bridge on the bottom
- Electron Charging LED: But what is the "appropriate firmware command"? #326
- Change Vin and Iin parameters to Vvin and Ivin to be more clear

[2016-04-23 19:25] monkbroc opened #373 "Add links to hardware-libraries repo"
In the hardware datasheets, add links to https://github.com/spark/hardware-libraries

In the getting started, suggest using Fritzing and add a link to https://github.com/spark/hardware-libraries

[2016-04-24 08:35] kennethlimcp opened #374 "<blockquote> (`> ` markdown) hidden in 2 column view"
See: http://localhost:8080/reference/firmware/photon/#selectantenna-

You will notice that the text below doesn't show up... Drag the right end of the browser inwards until the code block is inline with the text portion and you will see it appear.

[code]

[2016-04-24 08:38] ScruffR commented on #374
Another note missing because of this was my update here (removed `>` now, in order to make it appear)
![screenshot 36](https://cloud.githubusercontent.com/assets/6604878/14766404/a0139d00-0a08-11e6-9246-fabed86a7740.png)
vs.
![screenshot 35](https://cloud.githubusercontent.com/assets/6604878/14766405/ad0f8a3c-0a08-11e6-9764-bb849fc80014.png)

[2016-04-24 12:51] monkbroc commented on #374
Good catch folks. I'll fix the CSS for the `<blockquote>` element on the docs site.

[2016-04-25 18:56] jme783 opened #376 "Duplicated Menu Items when Running Docs Locally"
Live reload is causing a full rebuild of Metalsmith, and the sidebar menu navigation. This causes duplicate page headers during development, and the links often times do not correctly link to the proper pages.

We should figure out a way to trigger the metalsmith rebuild to be more specific and targeted, and not trigger a full rebuild.

[2016-04-25 19:11] dmiddlecamp opened #378 "Document IFTTT API Api"
We have a handful of semi-magic endpoints that are geared towards IFTTT that allow product creators to very easily create their own channels.  We should clearly document these so product creators may use them effectively.

[2016-04-25 19:45] dmiddlecamp opened #379 "Update Librato Webhooks Example"
![particle-chart](https://cloud.githubusercontent.com/assets/833793/14796702/55af411e-0af4-11e6-8e39-bfa6b6f7ae25.png)
![particle-metrics-page](https://cloud.githubusercontent.com/assets/833793/14796704/55b37108-0af4-11e6-90cb-bb8ed9022ea7.png)
![librato-getting-started](https://cloud.githubusercontent.com/assets/833793/14796703/55b2fa20-0af4-11e6-8351-927a6fe9199b.png)

[code]

[2016-04-26 03:33] Jack706 opened #381 "Power Shield"
I am new to the Photon. I have 2 Photons and one power shield. two questions
1. do I solder the headers that came with the power shield to the power shield?
2. If I solder the header pins to the power shield do I just plus a Photon into the power shield?

I don't understand how to get power from the power shield to the Photon.

Thanks
Jack Burn

[2016-04-26 07:22] kennethlimcp commented on #381
1.) I believe you have to do so since they come unpopulated

2.) You will need to either attach the Lipo battery or plug the USB cable to the power shield in order to power up the Photon.

You can think of it as using the Lipo battery to power up the Photon and the usb cable to the power shield is to charge the Lipo (and at the same time deliver power to the Photon)

Hope this helps! If you have m

[2016-04-26 07:22] #381 closed, assigned to nobody

[2016-04-26 15:01] #309 closed, assigned to nobody

[2016-04-27 13:53] monkbroc commented on #376
tl;dr this isn't something I managed to fix quickly so I'll punt it until later :(

This is due to the interaction between metalsmith-watch and metalsmith-collections.

The run operation in metalsmith-collections is not idempotent so running it multiple times corrupts the collections metadata in metalsmith.metadata(). The collections are stored both directly in metadata and in metadata.collections

[2016-04-27 16:13] jme783 commented on #376
Gotcha, thanks for looking into this @monkbroc. Is there any way we could create an issue somewhere on the `metalsmith-watch` or `metalsmith-collections` repos to raise visibility on this and get the maintainers of those libraries working on a fix?

[2016-04-27 16:27] monkbroc commented on #376
There has been an issue opened in collections for more than a year with tons of comments. That repo looks unmaintained.

[2016-04-27 16:28] jme783 commented on #376
Gotcha. 👎  for Metalsmith ugh.

[2016-04-28 13:26] monkbroc commented on #376
Maybe the fork linked in this comment will help. I'll investigate later
https://github.com/segmentio/metalsmith-collections/issues/27#issuecomment-200580629

[2016-04-28 15:11] jme783 commented on #376
Cool! Let's try it

[2016-04-28 15:16] jme783 commented on #376
I'll actually give this a try -- I'm spinning up a new branch right now

[2016-04-28 15:37] moors7 opened #382 "Page crashing mobile safari when opening menu"
When trying to open the menu on the reference section, the page will crash when in portrait mode but not when in landscape mode. Running on an iPhone 6+ iOS 9.0.2.
![image](https://cloud.githubusercontent.com/assets/6599791/14891661/d29fdb00-0d67-11e6-9c7b-13e00b5072a3.png)

[2016-04-28 16:20] jme783 commented on #376
Argh...wasn't able to figure out how to get this to work because we already forked and changed the `metalsmith-collections` repo: https://github.com/spark/metalsmith-collections#dynamic-collections

I don't want to suck too much time into this, so I'm gonna move on for now. Let me know if you take a stab

[2016-04-28 16:46] monkbroc commented on #382
What browser are you using?

[2016-04-28 16:47] monkbroc commented on #376
Sad trombone :musical_note:

[2016-04-28 22:54] idokleinman opened #384 "Tooling is broken on Windows"

[2016-04-28 23:08] m-mcgowan commented on #384
Not a lot to go on here, but I'm guessing it's the symlink I added for the firmware docs so they can live in their own folder and be subtree linked with the firmware repo.

Windows does support symlinks, just that git doesn't create them since they require elevated privileges.

A workaround is to create the symlink by hand in an elevated permissions command prompt:

[code]

[2016-04-29 00:43] idokleinman commented on #384
Justin, our Windows dev pro, will post some more insight and info here

[2016-04-29 01:59] justmobilize commented on #384
Here is what I get from an install:

[code]

I'm see there are some custom settings for installing on Windows [here](https://github.com/nodejs/node-gyp) That I'll try tomorrow.

[2016-04-29 03:31] ericmillsio opened #385 "Power Shield Fuel Gauge Pins"
There is no mention that Pins D0 and D1 are connected to the fuel gauge SDA and SCI, respectively. Am I correct that I shouldn't be connecting external components to these pins with the power shield? My LEDs I had connected in DEEP SLEEP MODE had a low intensity glow to them...

[2016-04-29 04:59] justmobilize commented on #384
[This link](http://stackoverflow.com/questions/18412129/how-do-i-update-node-and-npm-on-windows)

With this:

[code]

Has got me closer

[2016-04-29 15:28] dmiddlecamp opened #386 "add warning about including "serial2/4/5.h" near Serial.begin docs, add Serial2/4/5 throughout serial docs."
We mention the need for  `#include "Serial2/Serial2.h"` elsewhere in the docs, but not near Serial2.begin, which is where I found that Serial2 was possible.  Can we also mention that an include is needed there as well?

Additionally the same thing for Serial4 and Serial5 on Electron.

Also throughout the docs Serial1 is mentioned along with Serial everywhere with examples.  Might as well add Seria

[2016-04-29 15:29] justmobilize commented on #384
This is what I'm getting when I try to start the service:

[code]

What version of node.js is required?

[2016-04-29 16:58] technobly commented on #19
Added more info to:
- Describe the usage of the VBAT to 3V3 bridge on the bottom.

[2016-04-29 22:23] moors7 commented on #382
Initially, mobile safari (the stock app). But I've just tried, and experienced, the same with Chrome, Firefox, and Opera mini. The latter actually crashes the entire app (back to the home screen) rather than 'only' the page, like the others. Furthermore, the menu does work in landscape mode, on all these browsers.

[2016-05-04 19:28] #386 closed, assigned to nobody

[2016-05-04 19:35] monkbroc commented on #384
Sorry to say this isn't likely to be a simple fix. I don't think the Metalsmith static site generator and all the plugins we use are well tested on Windows.

You may want to try setting `DEBUG=*` as an environment variable to see which step fails.

[2016-05-04 19:48] #374 closed, assigned to nobody

[2016-05-04 19:54] monkbroc opened #393 "Replace sparkjs with particle-api-js"
This still refers to sparkjs https://docs.particle.io/guide/getting-started/contributing/photon/#particlejs

[2016-05-04 20:21] dmiddlecamp commented on #386
awesome, thank you!

[2016-05-04 21:02] #373 closed, assigned to nobody

[2016-05-05 02:28] kennethlimcp opened #394 "fw: ADC default sample time"
From: https://community.particle.io/t/3-questions-from-a-newbie/22675

Is this correct for Photon/Electron?

https://github.com/spark/firmware/blob/9a99ba61c7b6399ccdf8a1238d05803beb7bd1ee/hal/src/stm32f2xx/adc_hal.c#L38

For Core:

https://github.com/spark/firmware/blob/9a99ba61c7b6399ccdf8a1238d05803beb7bd1ee/hal/src/core/adc_hal.c#L38

[2016-05-05 16:49] monkbroc opened #395 "Update SDK Communication section"
Users cannot tag GitHub issues, so change the text that says "file an issue and label it as bug"

[2016-05-05 19:05] monkbroc commented on #394
Those docs could be improved. I don't know what 480 cycles correspond to in time.

[2016-05-06 15:38] #393 closed, assigned to nobody

[2016-05-06 16:20] #360 closed, assigned to nobody

[2016-05-06 16:43] #336 closed, assigned to nobody

[2016-05-06 16:45] monkbroc commented on #333
Louis, I just wanted to write back to acknowledge this issue. It's something that's been bugging me as well. Thanks for filing this issue.

[2016-05-07 16:55] technobly commented on #19
Added to the Electron Datasheet v003 list:
- Fix and clarify pin descriptions https://github.com/spark/docs/pull/399 (make sure to review P1 and Photon datasheets as well)

[2016-05-07 16:57] bkobkobko opened #400 "The dfu-util section for Electon is blank"
The Electron has a different device ID from the Photon etc. so the dfu-util command is slightly different but a user in the forum got confused trying to use the Photon command on an Electron.

[2016-05-07 21:57] sgstair opened #401 "What is the default sample time?"
Can you please document what the default sample time is in the firmware setADCSampleTime() section?

[2016-05-07 21:59] sgstair commented on #401
This is actually covered in #394 - I didn't see that earlier.

[2016-05-07 21:59] #401 closed, assigned to nobody

[2016-05-09 18:38] #304 closed, assigned to nobody

[2016-05-10 13:32] monkbroc commented on #400
Where would you expect the dfu-util to be described for the Electron, Brian?

[2016-05-10 17:56] ghost commented on #384
Got the same error @justmobilize was got:
![image](https://cloud.githubusercontent.com/assets/6761498/15156772/386bdaf4-1706-11e6-9207-c36d50a82448.png)

[code]

[2016-05-10 19:31] #382 closed, assigned to nobody

[2016-05-10 19:33] #332 closed, assigned to nobody

[2016-05-10 19:33] monkbroc commented on #332
This feature is now live!

[2016-05-10 19:34] monkbroc commented on #350
See also #291

[2016-05-10 20:30] bkobkobko commented on #400
The empty section is here:

https://docs.particle.io/support/troubleshooting/troubleshooting-tools/electron/#dfu-commands

If you change the pull-down to Photon, you will see that section appear with the correct USB IDs and addresses for dfu-util.

[2016-05-11 13:19] monkbroc opened #403 "Add fastclick to remove 300ms click delay on iOS"
When using the docs on iOS there is a 300ms delay between tap and action. Add https://github.com/ftlabs/fastclick to make the interactions smoother.

Thanks @moors7 for the recommendation.

[2016-05-11 13:20] monkbroc opened #404 "Load search.json in the background"
When opening the docs the large search index file is loaded on page load and it blocks some of the UI from operating properly. This is mostly noticeable on mobile.

Load search.json in the background to remove this delay.

[2016-05-11 14:02] monkbroc opened #405 "Document System.enableReset et al"
These system methods are currently not documented:

[code]

The `reset_pending` system event mentions `enableReset()` but there's no other mention

[2016-05-11 15:50] brycekahle commented on #403
This is no longer necessary if you include `<meta name="viewport" content="width=device-width, initial-scale=1">` and

[code]

https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away
https://webkit.org/blog/5610/more-responsive-tapping-on-ios/

[2016-05-11 16:58] moors7 commented on #403
Adding the fastclick shouldn't hurt, though I'm totally cool with the native options, provided they work :)!
Adding that bit of CSS should be worthwhile trying.

[2016-05-11 16:58] brycekahle commented on #403
Fastclick prevents any kind of zooming.

[2016-05-11 17:05] moors7 commented on #403
Doesn't `user-scalable=no` do the same (current setup)? I can't seem to scroll currently. But like I said, the native options are fine by me, give it a shot if you haven't already done so?

[2016-05-11 17:06] brycekahle commented on #403
Yes it does. We should probably turn that off. I dislike when a page does not allow me to zoom.

[2016-05-11 17:12] monkbroc commented on #403
I agree with removing the zoom lock

[2016-05-12 20:29] towynlin opened #406 "Improve searchability of app hash"
Searching for "app hash" or "unique id" should show app hash as search result:
https://docs.particle.io/reference/api/#app-hash

[2016-05-12 20:43] monkbroc commented on #406
This section is too deeply nested (Special Events -> Special Device Events -> app-hash) so it won't show up in the current search results. Special Device Events do show up when searching for app hash.

So either we un-nest app-hash, or we revisit the docs search in a later sprint. I think we should do the latter since now the search is weird with Photon/Core/Electron results showing up for firmwar

[2016-05-12 23:43] #406 closed, assigned to nobody

[2016-05-17 00:52] technobly opened #408 "Electron State of Charge (SoC) never reaches 100%"
**Issue:**

getSoC() will never report 100% by default
https://docs.particle.io/reference/firmware/electron/#getsoc-

**Reason:**

https://docs.particle.io/reference/firmware/electron/#setchargevoltage-
The default charge termination voltage is set to 4.112V for battery safety when exposing the battery to extended temperatures.

⚠️ If you are positive you are not operating your Electron above 45°C

[2016-05-19 04:58] wvdv2002 opened #409 "Particle.publish() optional data encoding clarification"
Could you give some extra information on the optional data you can include from particle.publish? Can I use the whole char range (0-127) or should I base64 encode the data before publishing? Or is it maybe already base64 encoded before sending?

[2016-05-25 20:07] monkbroc commented on #409
Particle.publish expects an ASCII string, so any char from 1 to 255 is OK. If you want to send binary data it is a good idea to base64 encode it.

[2016-05-25 20:07] #409 closed, assigned to nobody

[2016-05-27 05:05] brandoaire opened #411 "The Firmware Upgrades page for Electron is blank"
This page is blank:

https://docs.particle.io/support/troubleshooting/firmware-upgrades/electron/

[2016-05-27 12:51] monkbroc commented on #411
Let's fix this when the device updater docs are in #383

[2016-05-29 14:48] technobly opened #412 "Discrepancy on which pins are valid EXTI interrupts for sleep modes"
If you look at attachInterrupt() docs you'll see how EXTI lines are shared and why you should avoid D0.
https://docs.particle.io/reference/firmware/electron/#attachinterrupt-

But sleep modes say more pins are available and doesn't mention the sharing issue:
https://docs.particle.io/reference/firmware/electron/#sleep-sleep-

Memory tells me that attachInterrupt docs are correct, and I have seen is

[2016-05-29 16:31] technobly opened #413 "Add library guidance for multiple Particle device support"
## A nice human readable way is to use the [platform.h](https://github.com/spark/firmware/blob/develop/platform/shared/inc/platforms.h) defines:

[code]
## Or ID's can be used directly:

[code]

[2016-06-03 18:16] monkbroc commented on #19
Added to Electron Datasheet list: all 64kb of EEPROM page 2 is used

[2016-06-13 12:10] RobMeades opened #420 "System.sleep(uint16_t wakeUpPin, uint16_t edgeTriggerMode, long seconds) and attachInterrupt()"
Hi there.  It appears that if one has an interrupt attached to a pin, and then one wants to put the system to sleep and wake-up on that pin, the `System.sleep()` call replaces the call that you had previously attached to that interrupt.

The documentation should mention this, as it had me fooled for an entire day.  I have raised a separate issue on the firmware [(https://github.com/spark/firmware/

[2016-06-15 23:39] monkbroc commented on #19
Added to Photon datasheet: rename device_id to device_code in DCT and add device_id

[2016-06-16 14:58] kennethlimcp opened #422 "remove low baud rates"
From: http://community.particle.io/t/can-not-communicate-with-300-baud-rate/3603/10

`300` and `600` should be removed from https://docs.particle.io/reference/firmware/photon/#begin-

[2016-06-18 16:24] RobMeades opened #423 "System.sleep (SLEEP_MODE_DEEP, longSeconds) makes no mention of waking up on external interrupts"
The documentation on `System.sleep (SLEEP_MODE_DEEP, longSeconds)` says "the device will automatically wake up and reestablish the Wi-Fi connection after the specified number of seconds".

In fact, the device also wakes up on external interrupts while in `SLEEP_MODE_DEEP`.  The documentation should mention this, especially as it appears that there is no API for deep sleep purely on a timer, ignori

[2016-06-18 16:42] #423 closed, assigned to nobody

[2016-06-22 15:57] WebDust21 opened #426 "read_as_string() does not exist"
// EXAMPLE from Particle Reference on the SoftAP setup

if (body->bytes_left) {
    char\* data = body->**_read_as_string_**();
    // handle the body data
     dostuff(data);
     // free the data! IMPORTANT!
     free(data);
}

Dug into the source code, and found that that should be "fetch_as_string"; that compiles with no problem.

[2016-06-22 16:00] #426 closed, assigned to nobody

[2016-06-22 16:00] monkbroc commented on #426
Thanks!

[2016-06-22 23:22] kennethlimcp opened #427 "[Electron] Add system firmware OTA steps"
We need to add in instructions on how OTA-ing system firmware can be done using CLI.

The better solution would be having an option to do that in the Dashboard since safe mode auto-healer doesn't apply to Electrons.

See: http://community.particle.io/t/electron-ota-f-w-upgrade-to-0-5-1/23786/4

[2016-06-23 18:58] rcaudill commented on #101
Can anyone point me to the resistors on the photon (or a schematic) that should be removed?

[2016-06-23 19:03] RobMeades opened #428 "What causes wake-up from System.sleep(uint16_t wakeUpPin, uint16_t edgeTriggerMode, long seconds)"
The Electron documentation states that:

"`System.sleep(uint16_t wakeUpPin, uint16_t edgeTriggerMode, long seconds)` can be used to put the entire device into a stop mode with wakeup on interrupt or wakeup after specified seconds. In this particular mode, the device shuts network subsystem and puts the microcontroller in a stop mode with configurable wakeup pin and edge triggered interrupt or wake

[2016-06-24 00:30] ericyuanyong commented on #101
Hey
Based on the document, it says you need to remove the limit current
resistor of Blue and Green Led. Which is R7 and R2 from the Schematic,
So if you check the PCB, it's the two resistor close to the 3V3 and RST on
header.

[image: Inline image 1]

On Fri, Jun 24, 2016 at 2:58 AM, rcaudill notifications@github.com wrote:

[2016-06-25 02:00] rcaudill commented on #101
Thanks for the reply. The image you posted isn't showing up, do you mind double checking it?
I ended up just removing the RGB LED so I don't think wiring is a problem any more but it's still not working for me. I have a feeling I'm missing something in software. I put together a simple program to test. I've got D0 and RX wired together. Serial1 is showing the data but Serial2 isn't getting anythin

[2016-06-26 06:58] technobly commented on #101
@rcaudill I'm guessing you are thinking Serial2 is available on D0/D1 like it is for the Core.  However on the Photon that is not the case, instead Serial2 is available on pins 28/29 on the bottom of the PCB: which are the Green and Blue RGB led segment outputs: https://docs.particle.io/datasheets/photon-datasheet/#recommended-pcb-land-pattern-photon-without-headers- and also requires isolating th

[2016-06-26 07:17] technobly commented on #19
Added to the Electron Datasheet v003 list:
- v002 of the Pinout PDF has an error in the lower left of the Legend, UART4 and UART5 should be Serial4 and Serial5, not Serial2 and Serial3.

[2016-06-27 03:54] rcaudill commented on #101
Yup, I was using D0/D1... Using the pad on the bottom of the PCB worked! Thanks guys!

[2016-06-28 00:36] osmithy opened #431 "Minor formatting issue in web IDE guide"
In https://docs.particle.io/guide/getting-started/build/photon/#web-ide the formatting for the bullets about the Flash, Verify, and Save buttons is broken. Oddly, the actual markdown itself looks correct, so I'm not sure why it's displaying wrong. See https://pbs.twimg.com/media/ClmCMyGUgAE-2Oq.jpg

[2016-06-29 14:53] monkbroc opened #432 "Link to CLI installer from CLI guide"
Point to the CLI installer page for the simple install and leave the node.js instructions for advanced install

[2016-06-29 15:26] monkbroc commented on #431
Fixed in https://github.com/spark/docs/commit/51f42a0f3b7934b59b5c5fbc55f48cb4fb55b3ab

[2016-06-29 15:26] #431 closed, assigned to nobody

[2016-06-29 18:17] embedded-creations opened #434 ""setup mode" used in system events but not defined"
"setup mode" is used a few times in the [system events](https://docs.particle.io/reference/firmware/electron/#system-events-reference) section, but I couldn't figure out what was meant as there's no mention of "setup mode" in other parts of the docs

As best as I can tell this might be a new name for "listening mode".  You should probably add a note about the multiple names in the above section, o

[2016-06-29 19:57] technobly opened #435 "[Electron] Add note about 3rd-Party SIM PINs not being supported currently"
Currently 3rd-party SIM PIN's "1234, 0000, etc." are not supported and will cause the Electron to blink Blue.  When this happens, logs will indicate:

[code]

Untested, but you may be able to reset your PIN to null with:

[code]

[2016-07-07 04:33] technobly opened #436 "Document the downgrade process"
Document how **module dependencies** and **safe mode healer** work, so if a user needs to downgrade system firmware they know which order to flash modules in.

[2016-07-12 21:14] technobly opened #439 "[Electron] SLEEP_MODE_SOFTPOWEROFF to be added to docs"
https://docs.particle.io/reference/firmware/electron/#sleep-sleep-
Needs an explanation and example for SLEEP_MODE_SOFTPOWEROFF.  This is used just like SLEEP_MODE_DEEP, with the added benefit that it also sleeps the Fuel Gauge.  This is the only way to achieve the lowest quiescent current on the electron, apart from sleeping the Fuel Gauge before calling SLEEP_MODE_DEEP.  This is also the same ne

[2016-07-14 18:16] monkbroc opened #441 "Add application notes section"
Application notes would be focused documents describing best practices for topics such as low-power, PCB layout, data persistence.

[2016-07-14 18:26] technobly commented on #19
### P1 Datasheet (v006) - released... other pending P1 changes slated for v007 now.
- [x] Update P1 pin listing: TESTMODE pin 33 (PA8), connected to MCO1 by default, outputs 32kHz clock for WICED powersave mode - currently unsupported for user control.

[2016-07-24 03:15] kennethlimcp opened #443 "[packages] deprecated packages"
[code]

[code]

[2016-07-24 03:23] kennethlimcp opened #444 "System events table partially "hidden""
<img width="1042" alt="screen shot 2016-07-24 at 11 20 36" src="https://cloud.githubusercontent.com/assets/6760914/17081571/0579ac0a-5191-11e6-93d2-bbcc47c2050c.png">

[2016-07-27 20:41] towynlin opened #445 "Particle.connect/disconnect docs suggestion"
https://community.particle.io/t/unlocked-device-in-company-approved-device-wont-upgrade-to-released-firmware-unless-it-is-reset/24508/4?u=zachary

[2016-08-04 00:30] dmiddlecamp opened #447 "org slug not available in console, docs / urls still refer to orgSlug param"
https://docs.particle.io/reference/api/#remove-team-member
https://docs.particle.io/reference/api/#remove-device-from-product
https://docs.particle.io/reference/api/#create-a-customer---access-token

etc, etc.

Thanks!

[2016-08-04 00:37] brycekahle commented on #447
All that is needed is a docs build.

[2016-08-04 00:43] brycekahle commented on #447
Fixed.

[2016-08-04 00:43] #447 closed, assigned to nobody

[2016-08-06 03:58] technobly commented on #19
Added to:

# P1 Datasheet (v007)
- CAN bus pins should be noted as 3.3V tolerant (technically they are 5V tolerant on the RX but since you wouldn't operate them with a 5V transceiver it's proper to classify them as 3.3V)

# Photon Datasheet (v014)
- CAN bus pins should be noted as 3.3V tolerant (technically they are 5V tolerant on the RX but since you wouldn't operate them with a 5V transceiver it

[2016-08-06 15:55] dmiddlecamp opened #450 "soft-ap docs use single space quotes for strings, doesn't compile"
[code]

might appear elsewhere?

also missing a paren, should be:

[code]

[2016-08-08 12:02] kennethlimcp opened #452 "Fix OTA update notes [ System.updatesPending() ]"
https://docs.particle.io/reference/firmware/electron/#system-updatespending-

Either we remove it or fix the TODO note.

Related: http://community.particle.io/t/electron-0-5-2-system-updatespending/24950

The docs doesnt spell out exactly how `System.updatesPending()` works and the scenarios it wont.

[2016-08-08 22:47] embedded-creations opened #453 "Shipping Info Conflict?"
After getting burned a couple times by what I thought was not transparent slow shipping from the Particle Store, I found the shipping page:
https://docs.particle.io/support/support-and-fulfillment/shipping/

I think you have conflicting info here:

If I place an order right before the warehouse closes on August 31st, and they're closed on the 1st and 2nd and open back up on the 3rd, my order could

[2016-08-09 01:13] kennethlimcp commented on #453
Where is the `ships immediately` info found?

[2016-08-09 01:28] embedded-creations commented on #453
![unspecified](https://cloud.githubusercontent.com/assets/1514796/17501678/05402ea6-5daf-11e6-8943-05c3d8328531.png)

[2016-08-18 05:49] #444 closed, assigned to nobody

[2016-08-20 01:52] technobly opened #456 "Add Electron FCC info to FCC section"
https://docs.particle.io/guide/how-to-build-a-product/certification/#fcc

https://docs.particle.io/datasheets/electron-datasheet/#fcc-approved-antennas

[2016-08-22 12:09] #52 closed, assigned to nobody

[2016-08-22 17:19] technobly commented on #19
## Added to Photon Datasheet (v014)
- Add warning about powering the Photon from long wires on USB and VIN, and give advice on what components can be added externally to mitigate this.  From Richtek datasheet:

[2016-08-23 18:54] technobly commented on #441
Adding to this, we need a section for best practices with cellular connections.  How long to sleep to maintain a connection, vs. deep sleeping for longer knowing that the connection will be dropped (so disconnect now and just sleep for a long time).  Relate this to power and data consumption.

Link to this App Note from sleep modes docs, and keepAlive() docs... as well as any other pertinent spots

[2016-08-25 04:03] technobly commented on #19
## Added to Electron Datasheet (v003)
- ERROR in Operating Current (Cellular OFF) IINavg 2-15mA, it should be IINavg 47-50mA

[2016-08-31 14:28] dmiddlecamp opened #459 "How do I prep my PCB for an electron?"
We've got great docs for the P0/P1, but nothing yet for the electron.

https://docs.particle.io/guide/how-to-build-a-product/pcb-design/

Thanks!

[2016-09-02 19:19] dmiddlecamp opened #460 "SPI documentation doesn't specify syntax of handler function"
myFunction: user specified function callback to be called after completion of the SPI DMA transfer

^^^ Not sure what the function signature for this should be?

https://docs.particle.io/reference/firmware/photon/#transfer-void-void-size_t-std-function-

[2016-09-10 14:28] kennethlimcp opened #462 "MQ-2 sensor datasheet"
@technobly @mohitbhoite,

Seeedstudio moved it's datasheet somehow. Can we have another link to fix the broken build?

-->  https://www.seeedstudio.com/depot/datasheet/MQ-2.pdf

[2016-09-12 23:22] technobly commented on #19
Pulled two changes into a separate release (v003), the rest are going into (v004):

# Electron Datasheet (v003)
- [x] Fix and clarify pin descriptions https://github.com/spark/docs/pull/399 (make sure to review P1 and Photon datasheets as well)
- [x] ERROR in Operating Current (Cellular OFF) IINavg 2-15mA, it should be IINavg 47-50mA

[2016-09-13 15:44] technobly commented on #19
Electron Datasheet v003 has been released :)
https://docs.particle.io/datasheets/electron-datasheet/

[2016-09-13 16:14] kennethlimcp commented on #462
closes with https://github.com/spark/docs/commit/7aec567dadbff987f1a6a49aaafe7a50db17eee3

[2016-09-13 16:14] #462 closed, assigned to nobody

[2016-09-13 23:50] technobly commented on #19
Photon Datasheet (v014)
- [x] Updated list of Mating Connectors

Electron Datasheet (v003)
- [x] Updated list of Mating Connectors

and released!

[2016-09-19 15:03] dmiddlecamp opened #469 "P1 block diagram MICRO_SPI1_SS pin name needs a note added for clarification"
this image:
https://docs.particle.io/assets/images/p1-pinout1.png

![](https://docs.particle.io/assets/images/p1-pinout1.png)

Notice how the SPI_SS starts on PA4, when it should be for PC2.

[2016-09-19 17:07] technobly commented on #469
The way that SPI is currently pinned out is correct, we do not use the PA4 SS pin in an hardware SPI driven sense.  SS is only user controlled as a GPIO, thus the default one is A2 (PC2) https://docs.particle.io/reference/firmware/photon/#spi

[2016-09-19 17:12] dmiddlecamp commented on #469
So it's correct that DAC is labelled as MICRO_SPI_SS ?

[2016-09-19 17:19] technobly commented on #469
Yes, we list out the P1 module pin names... but don't necessarily need to use MICRO_SPI1_SS in a hardware sense, but the DAC1 function of that pin was thought to be more important to route to A6/DAC pin at the time.  Rather than obfuscating the P1 module pin name, we chose to leave it as-is.  It's a bit confusing understandably, so perhaps we need to add a note to the P1 datasheet to help clarify

[2016-09-19 17:23] technobly commented on #469
For P1 products, I suppose you could wire up PA4 as your SPI SS pin to be used in code as SPI.begin(DAC) or SPI.begin(A6) or SPI.begin(DAC1), but it would just use that pin as a GPIO, and not SPI hardware SS control.  However you would not be able to use the DAC1 anymore for your product if you needed it.

[2016-09-19 17:26] technobly commented on #19
Added item for P1 Datasheet v007 changes:
- Add note to clarify why MICRO_SPI1_SS is not hooked up to DAC/A6 (PA4) https://github.com/spark/docs/issues/469

[2016-09-19 23:00] technobly commented on #19
Added items for P1 Datasheet v007:
- Add new spare pin P1S6 to pinout, PWM list, pin description, update TESTMODE description, etc.. https://github.com/spark/firmware/pull/1120
- update DCT Layout https://docs.particle.io/datasheets/p1-datasheet/#dct-layout notably adding radio_flags, and any other new sections.

Added item for Photon Datasheet v015:
- update DCT Layout https://docs.particle.io/da

[2016-09-21 07:14] brandoaire opened #470 "Particle.subscribe not listed as a consumer of data in the Data Guide"
https://docs.particle.io/guide/getting-started/data/electron/#what-consumes-data-

This section should also reference Particle.subscribe() and the fact that webhooks usage that hits a device via subscribe will use data.

[2016-09-22 20:51] dmiddlecamp opened #472 "How can we document objects in Firmware?"
I was trying to use WiFi.scan -- and it mentions "WiFiAccessPoint", but that object and its properties aren't in our documentation anywhere.  I can grep our firmware to find the answer, but this seems like maybe something that could be in a reference document somewhere?

[2016-09-22 20:56] monkbroc commented on #472
We can just make a section like the one for [CANMessage](https://docs.particle.io/reference/firmware/photon/#canmessage).

Do you feel up for it?

[2016-09-23 01:03] technobly commented on #472
Sometimes objects are really large... and it feels wrong to add them to the documentation copy/paste wise.  Julien's example is very succinct so it looks great, but other's might now be so appealing.  I've often wanted a CODE FOLDING container for docs... so we can keep the readability, but if a user wants to dive in they can unfold the section and drill into the details.

As for **WiFiAccessPoint

[2016-09-29 20:31] harrisonhjones opened #474 "firmware-upgrades.md doesn't work for Electrons"
docs/src/content/support/troubleshooting/firmware-upgrades.md doesn't really work for Electrons. Need to copy over and update the relevant Photon instructions.

[2016-10-05 00:15] technobly opened #476 "Document reason for "online" / "offline" events"
This may seem obvious, but there are some subtleties that need to be documented in how these online/offline events for TCP devices (Photon/P1/Core) vs UDP device (Electron) are posted.

Specifically:

The “online” event is posted after an Electron full handshake, or first message received after a restored session (this happens if the UDP device service restarts for some reason).  In most cases it

[2016-10-06 23:38] alan707 commented on #474
this issue should be closed with PR #477

[2016-10-07 01:06] #474 closed, assigned to nobody

[2016-10-07 14:33] jaza-tom commented on #427
^^this

[2016-10-13 17:20] technobly commented on #411
fixed by https://github.com/spark/docs/pull/477

[2016-10-13 17:20] #411 closed, assigned to nobody

[2016-10-28 03:21] technobly commented on #19
Bumped Electron Datasheet (v004) changes to (v005)

Added:

# Electron Datasheet (v004)
- Replace some copy/paste errors in STM32 part number in Electron datasheet copied from Photon datasheet.  Replace all STM32F205RGY6 with STM32F205RGT6.
- Add full STM32F205RGT6 part number to every mention of STM32 in datasheet.

[2016-10-28 14:43] rcaudill opened #484 "Clarify the location of the Photon Serial2 pins in documentation"
Photon documentation (https://docs.particle.io/reference/firmware/photon/#serial) references RGB Green (TX) and Blue (RX) LED pins but it's unclear where those pins are.

Clarify in documentation that those "pins" are labeled as 28/29 and are actually pads on the bottom of the PCB. See datasheet (https://docs.particle.io/datasheets/photon-datasheet/#recommended-pcb-land-pattern-photon-without-head

[2016-10-28 14:44] rcaudill commented on #484
I'll work on this issue.

[2016-10-28 15:10] monkbroc commented on #484
OK. Thanks.

[2016-10-28 16:20] technobly commented on #19
### Electron Datasheet (v004) Released!

https://docs.particle.io/datasheets/electron-datasheet/

[2016-10-31 16:19] mchsk commented on #447
Hello, I know the issue is closed but what is this org slug?
I went through the docs, unfortunately I do not seem to have found what this term stands for.

It seems you guys migrated your terminology or the architecture :) right?
Please guide me a little. Thank you! 👍

[2016-10-31 16:20] dmiddlecamp opened #486 "SIM - Can't find list of countries"
https://docs.particle.io/guide/getting-started/billing/electron/

[code]

There's no such dropdown on that page of the website

[2016-10-31 16:25] dmiddlecamp commented on #486
found it here https://www.particle.io/pricing

[2016-10-31 16:37] dmiddlecamp commented on #447
Hi @mchsk ,

  An "orgSlug" was a url / database friendly simple name for the organization that managed your products.  We removed that property when we simplified the user experience and removed the paywall around the product creator tools.

Thanks!
David

[2016-10-31 20:23] #486 closed, assigned to nobody

[2016-11-01 20:18] technobly commented on #452
You can check with system events when an update is pending if updates are disabled. I don't think the `System.updatesPending()` API works like some think it should. The last time I tried to use it I did not get it to fire unless updates were enabled.  It may just be useful for multi-threaded mode when user code continues to execute https://docs.particle.io/reference/firmware/electron/#system-updat

[2016-11-01 20:20] technobly commented on #452
### Related issues:

https://github.com/spark/docs/issues/354
https://github.com/spark/docs/issues/318

[2016-11-01 20:21] technobly commented on #354
### Related issues:

https://github.com/spark/docs/issues/452
https://github.com/spark/docs/issues/318

[2016-11-01 20:21] technobly commented on #318
### Related issues:

https://github.com/spark/docs/issues/354
https://github.com/spark/docs/issues/452

[2016-11-02 14:11] faquin opened #489 "Adding description of "Identify Device" function in doc"
Following this thread ( http://community.particle.io/t/web-ide-new-button-identify-device/26844 )
the Identify Device rainbow function is not described in the doc. A small note shall be added to mention it.
Also it should be mentionned that the device keeps rainbowing until Identify Device if pressed a second time.

[2016-11-07 09:46] moors7 opened #491 "Update tutorials to match new IFTTT"
IFTTT changed its layout, and it personally took me way too long to figure out how to create a new recipe/applet. Need to update tutorials to reflect those changes.

[2016-11-09 15:01] #331 closed, assigned to nobody

[2016-11-11 18:52] dmiddlecamp opened #495 "webhook rate limit docs out of date"
https://docs.particle.io/guide/tools-and-features/webhooks/#limits

"A webhook will be disabled if the server responds with errors 10 times in a row."
^^ I don't think this is true anymore, is it?  Webhooks will sleep, not be disabled.

Also this doesn't mention anything about our product creator tiers?

[2016-11-15 01:09] technobly commented on #177
@mohitbhoite bump :)

[2016-11-15 01:16] technobly commented on #177
A good idea for wire coloring might just be to make them all black, and point out the switched side is HOT.

Oh man! Nice catch @ScruffR! I didn't even see that until just now squinting at the silkscreen in that image.  Yes those are reversed.

[2016-11-22 17:24] nrobinson2000 opened #503 "Add documentation for ssh'ing to raspberrypi.local"
Raspberry Pi comes pre-installed with `avahi-daemon`, which means that its IP address is aliased to `hostname.local`.  The default hostname for Raspberry Pi is `raspberrypi`, so users could just ssh into their Pi by doing:
[code]
This way users would not need to use an elaborate method for finding the IP address of their Pi, which would keep changing because it is DHCP and not static.

[2016-11-22 22:00] monkbroc commented on #503
That's super nice! I didn't know that. Can you make a pull request and I'll merge it in!

[2016-11-22 22:28] technobly commented on #503
It would be pretty sweet if that could update based on whatever you named your Particle-Pi device.  So if I had `pi1` as the name, I could use `ssh pi@pi1.local`

[2016-11-22 22:45] rickkas7 commented on #503
It appears you can configure it. I just edited /etc/hostname to be pi3 and rebooted and now I can `ssh pi@pi3.local`, at least from the Mac. Neat!

[2016-11-22 23:55] technobly commented on #503
Nice @rickkas7 !  Just to clarify my idea, I meant it would be sweet it if could auto-update whenever I renamed my Pi via the Particle API (Web IDE, CLI, curl, etc..).

[2016-11-23 00:05] andyw-lala commented on #503
Just change the hostname and restart a few key services and it should just
happen.

On Nov 22, 2016 17:55, "Brett Walach" notifications@github.com wrote:

[2016-11-23 07:47] emil01 opened #504 "softAP complete example - Incomplete"
The [complete example for softAP](https://docs.particle.io/reference/firmware/photon/#complete-example) is missing the setup() and loop() functions required to successfully test the code on the photon.

Please find below the full code that the user can copy and paste to get started with this, this would be extremely useful to first timers.

**Basically what is being added is:**
[code]

**Full code

[2016-11-23 23:08] nrobinson2000 commented on #503
I made a pull request @monkbroc.

https://github.com/spark/docs/pull/506

[2016-11-23 23:20] nrobinson2000 commented on #504
Some formatting would be nice.  Please put your code inside of:
<kbd>```</kbd>

<kbd>```</kbd>

[2016-11-28 14:57] #503 closed, assigned to nobody

[2016-11-28 14:57] monkbroc commented on #503
I merged the PR. Thanks @nrobinson2000!

[2016-11-28 20:47] brandoaire opened #508 "Software timers are documented, but do not seem to work on the Raspberry Pi"
https://community.particle.io/t/particle-firmware-reference-for-raspberry-pi/27496

[2016-11-29 02:34] #508 closed, assigned to nobody

[2016-12-07 02:31] towynlin opened #516 "Change all instances of sales email to sales form"
grep finds 10 instances of the sales email in the src folder
we should change all of them to send people here:
https://www.particle.io/sales

cc: @dljamo

[2016-12-13 17:21] dmiddlecamp opened #518 "/oauth/token API reference do not list client_id / client_secret as required parameters"
I think we left it out to keep things simple, and just used "particle/particle", but it looks like this is confusing / and the call fails if these parameters are left out.

**where does this happen?**
https://docs.particle.io/reference/api/#generate-an-access-token
https://docs.particle.io/reference/api/#generate-a-customer-scoped-access-token

**What's missing?**
client_id / client_secret paramet

[2016-12-14 18:55] monkbroc opened #522 "Clarify OAuth docs to say create a product first"

[2016-12-15 15:05] wvdv2002 opened #523 "Document all JSON options for a product webhook"
It would be nice to document all possible JSON options for a product webhook.
I cannot find for example how to set the "Only the device that triggers the webhook should receive its response" option in a Custom JSON to load using the Particle CLI.

[2016-12-17 01:00] kennethlimcp commented on #453
@margaretupshur any comments about this?

[2016-12-20 04:01] shanselman opened #527 "Why does the docs say you don't need Service Connect"
Here https://docs.particle.io/tutorials/integrations/azure-iot-hub/#create-an-azure-iot-hub it says NOT to include Service Connect permissions?

Turns out you need that if you want to do anything with IoTHub Explorer.

[2016-12-20 16:49] jme783 commented on #527
Hey @shanselman! First off, thanks for trying out the integration and for your [awesome write up](http://www.hanselman.com/blog/ConnectingMyParticlePhotonInternetOfThingsDeviceToTheAzureIoTHub.aspx). And thanks for your question.

The reason why we leave out asking for Service Connect permissions when providing shared access policy credentials is that strictly speaking, it is not required for the

[2017-01-07 11:19] cethalon opened #539 "[Photon] WiFi.setCredentials() not saving in specific cases"
I am running this program on a Photon with firmware v0.6.0, and two of the wifi credentials fail to save. It seems like entering in an SSID, password, and specifying WEP works just fine. However, negating the third option or replacing it with WPA2 causes it to fail. If you only specify an SSID it works fine, and if you specify a cipher for WPA2 it seems to also work.

[code]
Thanks for the help!
K

[2017-01-07 12:45] cethalon commented on #539
I forgot to add the output, shown below.
[code]

[2017-01-09 02:32] kennethlimcp commented on #539
You might want to ask this in https://commmunity.particle.io or https://github.com/particle/firmware.

Thanks!

[2017-01-09 02:32] #539 closed, assigned to nobody

[2017-01-18 16:26] monkbroc commented on #125
Fixed now in `master`. This one is for you @kennethlimcp since you help so much with the docs. :heart:

[2017-01-18 16:26] #125 closed, assigned to nobody

[2017-01-18 21:23] tim-cleanlogix opened #545 "Particle Electron Pin Map v002"
The pin labels **SPI3_SCK, SPI3_MISO** and **SPI3_MOSI** appear twice, once for pins C1-C3 and again for D3-D5.  Is that intentional?

[2017-01-18 23:57] kennethlimcp commented on #125
woohoo thanks @monkbroc!

[2017-01-25 19:46] #432 closed, assigned to monkbroc

[2017-01-25 19:49] #297 closed, assigned to nobody

[2017-01-25 19:49] monkbroc commented on #297
This is fixed now.

[2017-01-25 20:19] #251 closed, assigned to nobody

[2017-01-25 20:19] #246 closed, assigned to nobody

[2017-01-25 20:21] #155 closed, assigned to nobody

[2017-01-29 16:00] technobly commented on #545
Yes this is an alternate pin location for the second SPI peripheral on the electron. Use SPI2 for those C1-C3 pins.  More info here: https://docs.particle.io/reference/firmware/electron/#spi

[2017-01-29 16:00] #545 closed, assigned to nobody

[2017-01-30 03:00] kennethlimcp commented on #516
done here: https://github.com/spark/docs/commit/79c74a1ef768e359b4856ad029cb6d6a332b223e

[2017-01-30 03:00] #516 closed, assigned to nobody

[2017-01-30 14:55] technobly commented on #545
This may also help clarify: `spi3_sck` is an STM32 pin naming nomenclature, whereas `SPI2` is a Particle/Wiring API nomenclature.  I think we should remove the STM32 pin naming, and only use Particle's to keep things intuitive.  If a customer needs to dive into the STM32 pin names, the numbers will be there such that they can go look them up in the STM32 datasheet.  I'll add this to the #19 Open D

[2017-01-30 14:59] technobly commented on #19
Added todo item for all datasheets:

- Replace STM32 pin names with Particle/Wiring API names to keep everything intuitive and high level.  Leave STM32 pin numbers for deep dives. #545

[2017-01-30 19:57] #274 closed, assigned to mohitbhoite

[2017-02-02 22:11] monkbroc commented on #523
I created a webhook reference page at https://docs.particle.io/reference/webhooks/

Unfortunately the CLI doesn't currently support creating product webhooks. It has to be done in the console.

[2017-02-03 14:57] monkbroc commented on #527
@shanselman @jme783 Could one of you craft a note around Service Connect? I'll gladly merge the change in.

[2017-02-03 14:57] #523 closed, assigned to nobody

[2017-02-03 19:40] #522 closed, assigned to nobody

[2017-02-03 19:45] monkbroc commented on #518
Do you have more details about this? Is "particle/particle" always used in `POST /oauth/token` or are there cases where you'd want to use other values perhaps related to products?

[2017-02-03 19:46] monkbroc commented on #495
I changed the text to say "A webhook will sleep if the server responds with errors 10 times in a row."
https://docs.particle.io/reference/webhooks/#error-limits

Do you have details about the product creator tiers?

[2017-02-03 19:47] brycekahle commented on #518
It says under https://docs.particle.io/reference/api/#generate-an-access-token:

[2017-02-03 20:17] #504 closed, assigned to nobody

[2017-02-03 20:55] dmiddlecamp opened #558 "particle update missing from CLI reference"
https://docs.particle.io/reference/cli/

doesn't mention 'particle update'

[2017-02-03 21:02] #558 closed, assigned to nobody

[2017-02-03 21:02] monkbroc commented on #558
It does now!

[2017-02-07 15:12] technobly opened #560 "Particle.publish and Particle.subscribe PUBLIC and PRIVATE events are mutually exclusive"
Missing bit of info to document!

https://docs.particle.io/reference/firmware/electron/#particle-publish-
https://docs.particle.io/reference/firmware/electron/#particle-subscribe-

- Particle.subscribe to a specific device is presently not supported (although you can do this with the CLI)
- Particle.subscribe to MY_DEVICES receive only PRIVATE events.
- Particle.subscribe to ALL_DEVICES receive on

[2017-02-07 15:59] technobly opened #561 "WiFi.setCredentials() requires WiFi.on in SEMI_AUTOMATIC or MANUAL mode"
WiFi.setCredentials() requires WiFi.on in SEMI_AUTOMATIC or MANUAL mode.  See discussion here, but know that just documenting this fact will be sufficient.

https://github.com/spark/firmware/issues/881

[2017-02-07 16:31] monkbroc opened #562 "Fix top bar layout on mobile"
The guide selector wraps to the next line on mobile.

![image](https://cloud.githubusercontent.com/assets/1919681/22700515/f3ed8d06-ed28-11e6-81b6-d539710038a3.png)

[2017-02-07 19:07] monkbroc opened #563 "PDF of datasheets"
Generate pretty PDFs from hardware datasheets markdown.

[2017-02-08 03:53] technobly opened #567 "Add mention of Firmware Manager to Troubleshooting Section"
Please add Firmware Manager to https://docs.particle.io/faq/particle-devices/led-troubleshooting/electron/#2-update-the-system-firmware-on-your-electron

[2017-02-08 21:48] #484 closed, assigned to nobody

[2017-02-08 21:50] monkbroc commented on #472
I plan on adding auto-generated documentation from the firmware source code.

[2017-02-08 21:52] monkbroc commented on #469
Is this resolved @technobly?

[2017-02-08 21:58] monkbroc commented on #450
This code sample is gone.

[2017-02-08 21:58] #450 closed, assigned to nobody

[2017-02-09 19:36] technobly opened #569 "Document existing TCPClient::status()"
This is similar to the proposed UDP::status() here #250

[2017-02-09 19:37] monkbroc commented on #563
See http://chrisanthropic.github.io/Open-Publisher-Documentation/ for inspiration
https://github.com/chrisanthropic/Open-Publisher
https://github.com/chrisanthropic/docker-Open-Publisher-Base

[2017-02-09 20:43] #404 closed, assigned to nobody

[2017-02-09 20:44] #403 closed, assigned to nobody

[2017-02-09 20:44] #395 closed, assigned to nobody

[2017-02-09 21:50] monkbroc opened #570 "Generate firmware documentation automatically"
Generate firmware reference docs from the firmware repository.

Fixes #472
Fixes #460

[2017-02-09 23:24] monkbroc commented on #379
This is fixed by #557

[2017-02-09 23:24] #379 closed, assigned to nobody

[2017-02-09 23:26] #367 closed, assigned to nobody

[2017-02-13 22:56] technobly opened #574 "Time.format() and other Time functions expect UTC time format"
- [ ] Add clarification to docs about most Time class functions requiring UTC time format.

- [ ] Add reasoning for Time.local(), and warning not to use it in other Time functions without understanding the consequence.

- [ ] Add shortcut example to Time.format()
[code]

[2017-02-15 21:38] monkbroc commented on #278
I'm cleaning up old issues. I fixed this one a little while back.

[2017-02-15 21:38] #278 closed, assigned to nobody

[2017-02-15 21:39] monkbroc commented on #265
This is done.

[2017-02-15 21:39] #265 closed, assigned to brycekahle

[2017-02-15 22:56] #239 closed, assigned to nobody

[2017-02-16 19:36] monkbroc commented on #435
The note is at https://docs.particle.io/faq/particle-devices/electron-3rdparty-sims/electron/#about-sim-pins

[2017-02-16 19:36] #435 closed, assigned to nobody

[2017-02-16 20:22] monkbroc commented on #439
Any reason why SLEEP_MODE_DEEP doesn't sleep the Fuel Gauge automatically?

[2017-02-17 18:35] #357 closed, assigned to technobly

[2017-02-17 18:35] #412 closed, assigned to nobody

[2017-02-17 18:35] #413 closed, assigned to nobody

[2017-02-17 18:35] #422 closed, assigned to nobody

[2017-02-17 18:35] #439 closed, assigned to nobody

[2017-02-17 18:35] #460 closed, assigned to nobody

[2017-02-17 18:35] #470 closed, assigned to nobody

[2017-02-17 18:35] #489 closed, assigned to nobody

[2017-02-17 19:57] monkbroc commented on #445
From the discussion today the OTA happens on handshake. Do we have a known way to trigger a new handshake or another way to force the firmware to check for new product firmware? Particle.connect doesn't look like the right call for this.

[2017-02-17 20:15] monkbroc opened #577 "Replace serial waiting example"
Rework the code that waits for a character to be sent from the device in several of our examples.  That was mainly for Windows machines at the time, but can help for Mac as well.  There is some new code which will wait, not require anything to be sent (so you can use the CLI) and proceed on if you don’t connect serial.
`waitFor(Serial.isConnected, 10000);` waits 10 seconds.  isConnected I believe

[2017-02-19 15:30] technobly commented on #560
Should also be noted that the CLI behaves a bit differently than the Particle.subscribe() API.

When using `particle subscribe mine` I can see one of my PUBLIC events.  So the CLI must not be subscribing to PRIVATE events per say, but just filtering my events from the public stream?

Is there a way to subscribe to PRIVATE events specifically with the CLI? https://github.com/spark/particle-cli#part

[2017-02-21 18:07] #18 closed, assigned to jenesaisdiq

[2017-02-22 01:24] towynlin opened #579 "Document stack sizes"
Inspired by https://community.particle.io/t/what-are-the-available-stack-sizes/29450

- Normal app on Electron
- Electron with `SYSTEM_THREAD(ENABLED)` (user thread and system thread have their own stacks)
- Additionally on Photon/P1, WICED creates a bunch of threads with their own stacks as well as one for the application with a 6144 byte stack
- `Thread` (undocumented as of Feb 2017) has a defau

[2017-02-24 20:59] monkbroc commented on #560
Is that true? The code seems to pass the device ID to the HAL then to the cloud.
https://github.com/spark/firmware/blob/develop/wiring/inc/spark_wiring_cloud.h#L251

MY_DEVICES / ALL and public/private are different. More combinations than public / ALL and private MY_DEVICES should work but I can't say for sure.

The CLI is using the API endpoint to subscribe but the firmware is talking to the dev

[2017-02-27 16:57] rickkas7 opened #580 "P1 datasheet lists wrong FCC ID"
In the page:
https://docs.particle.io/datasheets/p1-datasheet/#fcc-ic-ce-warnings-and-end-product-labeling-requirements

It was reported that it should be this. I have not verified that this is absolutely correct, but it does appears to be so.

[2017-02-28 19:12] monkbroc commented on #105
This is fixed in the API now.

[2017-02-28 19:12] #105 closed, assigned to nobody

[2017-02-28 19:14] monkbroc commented on #114
There is a library now :)

[2017-02-28 19:14] #114 closed, assigned to nobody

[2017-02-28 19:19] monkbroc commented on #115
It is documented now!

[2017-02-28 19:19] #115 closed, assigned to nobody

[2017-02-28 19:19] monkbroc commented on #149
This is documented now!

[2017-02-28 19:19] #149 closed, assigned to nobody

[2017-02-28 19:21] monkbroc commented on #170
This is fixed in the firmware now.

[2017-02-28 19:21] #170 closed, assigned to nobody

[2017-03-01 16:25] #174 closed, assigned to nobody

[2017-03-01 16:44] monkbroc commented on #179
Listen mode serial commands.

'i': Show device ID. For Core, outputs "Your core id is aaaaaaaaaaaaaaaaaaaaaaaa". For others it outputs "Your device id is aaaaaaaaaaaaaaaaaaaaaaaa"

'm': Displays MAC address. Outputs: "Your device MAC address is
6c:0b:84:c5:bd:3d" (2 lines)

'x': Exit listen mode

's': Detailed information about firmware versions. Outputs JSON.

'v': System version. Outputs "system

[2017-03-01 16:46] monkbroc commented on #186
Not relevant with libs v2 anymore.

[2017-03-01 16:47] monkbroc commented on #192
The lords of documentation have provided.

[2017-03-01 16:47] #192 closed, assigned to nobody

[2017-03-01 17:20] monkbroc commented on #243
It is done

[2017-03-01 17:20] #243 closed, assigned to nobody

[2017-03-01 20:27] ScruffR commented on #186
Is it?
People seem to be missing the <kbd>USE THIS EXAMPLE</kbd> button even with v2 libs and
I recently was asking myself how would I do build a lib sample with CLI without downloading the lib first.

[2017-03-01 20:28] monkbroc commented on #186
OK then. Reopened!

[2017-03-02 15:48] monkbroc commented on #252
Now that product endpoints exist can we close this issue?

[2017-03-02 15:50] monkbroc commented on #267
All done!

[2017-03-02 15:50] #267 closed, assigned to m-mcgowan

[2017-03-02 15:51] monkbroc opened #584 "Add note to PMIC charge voltage"
add notes to setChargeVoltage to explain what the default charge termination voltage is, and why it's set a bit low. This is for safety in case charging in higher temps, and can be altered to one higher termination voltage if the user expects the device to operate in a controlled environment. Document arguments to this function with examples.